[2019-01-04 23:49] moog16 commented on #562
Is this still an issue for you?

[2019-01-04 23:49] moog16 commented on #581
closing as #592 was merged. Thanks again!

[2019-01-04 23:49] #581 closed

[2019-01-04 23:51] moog16 commented on #403
Closing...this is a stale issue and has been fixed with #433

[2019-01-04 23:51] #403 closed

[2019-01-05 00:10] 4cm4k1 commented on #561
@moog16 Is it just updating the package.json to use 0.43.0 of MDC Web? Or I guess I'll see what you add to the roadmap. Since most of these SSR things are kinda blockers for me, I'd be happy to volunteer to help with this.

[2019-01-05 00:57] moog16 commented on #561
awesome! Yes its updating to 0.43.0 (come 1/7/19). I don't think drawer has any actual changes.

[2019-01-05 15:12] owais commented on #583
Thanks

[2019-01-07 07:48] happyhj opened #596 "Link is broken in the README"
The link to the documentation in the README (https://github.com/material-components/material-components-web-react/blob/master/packages/linear-progres) is broken.

[2019-01-07 21:42] neoGeneva opened #598 "@material/react-select is missing HelperText component"
This should work the same way as the HelperText in @material/react-text-field

[2019-01-08 01:33] moog16 commented on #598
We haven't updated the select to the newer version of the select which occured in v0.41.0 https://github.com/material-components/material-components-web/pull/3949. This is the original issue: https://github.com/material-components/material-components-web-react/issues/242.

I'll keep this open until #242 is addressed. It'll close a slew of other issues.

[2019-01-08 07:11] aluminick commented on #593
I found the cause. It's because of onMouseDown and onTouchStart fires together

[2019-01-08 17:55] moog16 commented on #593
Oh that's great! I think we also had come to that conclusion now that you say that. I have an idea for a fix. Could we add a boolean, isInteracted, that is set to true when one of those triggers. Boolean is set to false after the function is triggered. We then use that boolean to control both events bring triggered at the same time.

[2019-01-08 22:44] #585 closed

[2019-01-09 03:31] aluminick commented on #593
I think I can do that.

[2019-01-09 05:04] moog16 commented on #593
awesome! that would be great. let me know if you want to talk anything over or have any design questions.

[2019-01-09 09:06] aluminick opened #603 "Broken link on top-app-bar README.md"
https://github.com/material-components/material-components-web-react/blob/master/packages/packages/drawer/README.md#usage-with-top-app-bar

[2019-01-11 16:50] vanillabeach opened #610 "<Button> : Problems using TypeScript"
Hi,

I am using the `<Button>` component for a trivial [Storybook](https://storybook.js.org/) example that I have written in TypeScript. I have based my code on the [example code](https://github.com/material-components/material-components-web-react/tree/master/packages/button) you have provided in the README doc.

My code looks like this:

[code]
However, both VSCode and Storybook give the followi

[2019-01-11 17:51] moog16 commented on #596
fixed by https://github.com/material-components/material-components-web-react/pull/609

[2019-01-11 17:51] #596 closed

[2019-01-11 17:53] moog16 commented on #580
looks like the typo was the problem. Closing...

[2019-01-11 17:53] #580 closed

[2019-01-11 17:54] moog16 commented on #558
@nworden Sorry I dropped the ball on this issue. What's your status on this?

[2019-01-12 10:31] aluminick opened #613 "First ListItem tabIndex is 0"
Why the first <ListItem /> tabIndex is 0?

[2019-01-12 13:22] aluminick opened #614 "menu-surface hoist option"
I think we need a hoist option. If a menu-surface inside a fixed header is hoisted, it doesn't stay in place when scrolling.

[2019-01-13 20:05] daneden commented on #613
@aluminick `tabindex=0` means that the list item will be the first element focusable by keyboard navigation, unless it’s preceded by another element with `tabindex=0` in the DOM. MDN recommends against values greater than 0 to ensure that assistive technologies work as predicted.

Consider this example:

[code]

Values greater than 0 will cause the focusing to happen out of order:

[code]

[2019-01-13 22:41] aluminick commented on #613
Ok thanks.

[2019-01-13 22:41] #613 closed

[2019-01-14 16:00] vanillabeach commented on #610
Hi,

My colleague took a look at the component and was able to make it work with the following code:

[code]

Hope this helps!

[2019-01-14 16:00] #610 closed

[2019-01-14 17:26] nworden commented on #558
For (1), I implemented my own.
For (2), I'm putting off doing anything about it until I've implemented the rest of my UI. If you haven't gotten a chance to address #559 at that point, I'll either take a stab at fixing the bug myself or write my own React component that uses the new version of the underlying MDC web components. Honestly I don't really want to reverse-engineer text-field/index.js if

[2019-01-14 17:52] moog16 commented on #614
@aluminick, you mean like an override? Right now it is hoisted by default always.

[2019-01-14 18:15] moog16 commented on #610
Ah great! Sorry that you need that work around...does that mean you're not able to upgrade typescript versions? Was that even one of the causes?

[2019-01-15 04:01] aluminick commented on #614
Yes an override.

[2019-01-15 21:22] jasonkylefrank opened #616 "Question: React dependency not a peer dependency?"
Hello!

My team is considering using this library.  One thing that we were wondering about is why React and React-DOM is only listed in `package.json` as a `devDependency` and not as a `peerDependency` also?

One thing that we're trying to determine is what versions of React would work with this library.  For example, we have a situation where we need to use an older version of React (15.x).  Sinc

[2019-01-16 01:48] moog16 commented on #616
@jasonkylefrank this is actually a bug and React/ReactDOM Should be part of dependencies. This has never come up as an issue to anyone else though so it was deprioritized.

There are some things that we use such as React.Fragments that would break using React 15.x. I'm not sure if the compiled version would work for you. Do you have any insight?

[2019-01-16 04:50] aluminick commented on #614
@moog16 it's working as expected now I just added the `fixed` prop. Thank you sir.

[2019-01-16 04:50] #614 closed

[2019-01-16 11:48] vanillabeach commented on #610
We're using typescript@3.1.2, webpack@4.26.0, and storybook@4.0.0-alpha.3

It's a pretty specific combination of technologies, and we're managing it using lerna. I guess something is getting lost in translation somewhere. We managed to wrap the `<Textfield>` without any problems, so i'll let you know if i experience the same issues with further MDCReact components.

Thanks for looking into it :)

[2019-01-16 15:18] aluminick opened #618 "menu-surface resize"
resizing causes menu to move away from its anchorElement

[2019-01-16 17:49] jasonkylefrank commented on #616
Hi @moog16!  Just to clarify, you're saying that the `peerDependencies` should be the same as what is listed in the `devDependencies`?  That is:
[code]
Regarding whether or not the compiled version would work in a React 15.x codebase, I do not have any insight.  😀

[2019-01-16 21:32] moog16 commented on #616
@jasonkylefrank correct it should be at minimum `v16.x.x`. Thanks for raising this as I need to fix how deps are handled in all these packages.

[2019-01-17 00:52] moog16 opened #621 "karmacoverage reporter syntax incorrect"
karma.conf.js file's `coverageIstanbulReporter` should look like this (according to https://www.npmjs.com/package/karma-coverage-istanbul-reporter):

[code]

[2019-01-17 14:13] beaumartinez commented on #447
Snackbar is now [in master](https://github.com/material-components/material-components-web/tree/cffe8951ff8827b6107af2b4d0582110a95ec9a5/packages/mdc-snackbar) for MDC web. Any update on moving forward with a React component for it?

[2019-01-21 12:15] gugu opened #626 "Upgrade resemblejs to version 3"
Current version of ResembleJS uses not supported canvas 1.6, which does not build on new Ubuntu anymore. Upgrading to v3 should not break anything and will use canvas 2.0

[2019-01-22 17:14] vanillabeach opened #627 "Feature Request : <Select> with enhanced menu"
Hi,

I've noticed that the `@material/react-select` component is missing the ability to render the "enhanced" dropdown menu as shown in the [MDC Spec](https://material-components.github.io/material-components-web-catalog/#/component/select) (i.e. the use of MDCMenu)

Do you know when this will be available?

**// John**

PS: These components are super-useful!

[2019-01-22 17:18] aluminick opened #628 "menu-surface Hoist anti-pattern?"
https://github.com/material-components/material-components-web-react/blob/1d0870073bdf2d6753b286f83e1476d6db3f0265/packages/menu-surface/index.tsx#L170-L172

Is this an anti-pattern? I think portal should be used on this one.

[2019-01-22 21:32] moog16 commented on #627
@vanillabeach great to hear! And yes we do have plans to implement that, however most of the MDC React team has been moved to MDC Web for this month/next month. We don't have the bandwidth to work on that just yet. See [Updated Roadmap](https://github.com/material-components/material-components-web-react/blob/rc0.9.0/ROADMAP.md).

Issue also being tracked here: https://github.com/material-componen

[2019-01-22 21:33] moog16 commented on #626
@gugu...please open PR and I can take a look. I guess it depends on if the API changed, but if it didn't then it should be an easy changeset.

[2019-01-22 21:33] moog16 commented on #626
@gugu...please open PR and I can take a look. I guess it depends on if the API changed, but if it didn't then it should be an easy changeset.

[2019-01-22 21:34] moog16 commented on #618
@aluminick that was never really designed for in MDC Web. Could you reopen this issue in MDC Web?

[2019-01-22 21:49] moog16 commented on #628
@aluminick I am not familiar with react.portals, but after reading the [docs](https://reactjs.org/docs/portals.html) I believe you to be correct. Would you like to take a crack at it?

[2019-01-23 00:34] moog16 commented on #447
We're actually in a holding pattern as most of the MDC React team is implementing typescript in MDC Web. Until that is complete we won't be building any new components (we estimate through February). If you would like to take a stab at implementing (or anyone else) please feel free. We will be doing monthly releases. See https://github.com/material-components/material-components-web-react/pull/611

[2019-01-23 04:43] aluminick commented on #628
@moog16 sure. Thanks.

[2019-01-23 08:38] aluminick commented on #618
@moog16 ok sure.

[2019-01-23 11:42] beaumartinez commented on #447
Thanks @moog16. I see @gugu (and yourself) are already working on it in #620.

[2019-01-23 15:24] vanillabeach commented on #627
Thanks for letting me know. I'll close this issue since it's already being tracked.

[2019-01-23 15:24] #627 closed

[2019-01-23 17:29] moog16 commented on #447
@beaumartinez ya you're totally right. My mind just blanked on that whole PR. Thanks :)

[2019-01-23 17:30] moog16 commented on #618
Closing here for bug in mdc web

[2019-01-23 17:30] #618 closed

[2019-01-23 20:44] moog16 commented on #239
fixed by #611

[2019-01-23 20:44] #239 closed

[2019-01-25 13:32] gugu opened #635 "Make screenshot-uploads bucket public for read"
There is nothing secret (I think) in this folder

If all files there will be public, I can update `npm run test:image-diff` and `travis.yml` file to download files from this bucket using public URL if there is no `MDC_GCLOUD_SERVICE_ACCOUNT_KEY` present.

It will make tests for pull requests to be green if no golden files changed. And as soon as maintainer uploads the new golden - pull requests wi

[2019-01-25 21:06] moog16 commented on #635
@gugu can you try now? https://console.cloud.google.com/storage/browser/screenshot-uploads

[2019-01-28 14:04] gugu commented on #635
Thanks. Created #638

[2019-01-28 17:48] veltman opened #640 "Clarify required React version?"
I ran into some inscrutable `ref` errors trying to use these components on a project running React 16.2, and eventually realized that it relies on the `createRef()` API added in 16.3.

Assuming this is true across the board, it might be worth adding a note to the README that 16.3+ is required, or listing it as a peerDependency? (I can submit a PR if you can confirm that 16.3 is the intended min ve

[2019-01-28 18:33] moog16 commented on #635
closing. looks like it is working..this saves a ton of time!

[2019-01-28 18:35] moog16 commented on #71
this is addressed with https://github.com/material-components/material-components-web-react/issues/635

[2019-01-28 19:58] moog16 commented on #640
We also use `React.Fragment` is another feature that we have, but it looks like it was added in [16.2](https://github.com/facebook/react/blob/master/CHANGELOG.md#1641-june-13-2018). I took a look at the [React Changelog](https://github.com/facebook/react/blob/master/CHANGELOG.md) of all the most recent versions since 16.3, and it looks like we don't use of those features. So `v16.3+` is correct.

[2019-01-28 20:45] moog16 commented on #635
Sorry - I jumped the gun on closing this. I'll review #638

[2019-01-29 00:09] ItsLeeOwen commented on #499
Does this issue cover the use case where you'd like to use an element instead of string for TopAppBar `title`?

[2019-01-29 17:52] gugu opened #643 "react-button contains old CSS (v0.9.0)"
Looks like `@material/react-button` component in v0.9.0 contains CSS from `@material/button` v0.41.0, not v0.43.0

[2019-01-29 18:21] gugu commented on #635
Thanks

[2019-01-29 18:21] #635 closed

[2019-01-29 18:35] moog16 opened #644 "[Chips] foundation.getSelectedChipIds() is updated before calling this.props.handleSelect()"
- ChipSet.adapter.setSelected method calls `setState({selectedChipIds: foundation.getSelectedChipIds})`
  - the issue with `foundation.getSelectedChipIds` is that it alters the selectedChipIds array by `push`'ing
  - since it doesn't move through state, the screenshot test component's `state.selectedChipIds` is updated before componentDidUpdate is called.

- temporary fix is to copy `foundation.ge

[2019-01-29 19:24] moog16 commented on #447
fixed with #620

[2019-01-29 19:24] #447 closed

[2019-01-29 19:26] moog16 commented on #643
@gugu we haven't updated any of the components since v0.7.0. Most/all are still on 0.41.0. I haven't had time to go back and update.

[2019-01-30 11:39] gugu commented on #643
The problem is that `trailingIcon` parameter requires @material/button v0.43.0. Currently react-button has v0.43.0 as JS requirement and includes CSS from v0.41.0

[2019-01-30 17:31] #644 closed

[2019-01-30 17:36] moog16 commented on #643
@gugu yes you're right per usual. I'll work on fixing that today and try to get it pushed to npm.

[2019-01-30 18:49] moog16 commented on #643
@gugu please try it out now. Closing as I tested v0.9.2

[2019-01-30 18:49] #643 closed

[2019-01-31 15:48] gugu commented on #643
Thanks

[2019-01-31 16:33] mgr34 opened #648 "(Chips) Required property id is marked as optional"
In the README.md documentation for Chips it notes that ID is required. However, `ChipProps` indicates that id is optional. The documentation is mainly correct in this case. A unique identifier is necessary for filter and choice variants. I can submit a PR that requires an ID

[2019-01-31 19:26] mgr34 opened #650 "(Chips): Chip properties handleSelect/handleRemove/handleInteraction are never called when Chip is child of ChipSet"
`<ChipSet>` calls [renderChip](https://github.com/material-components/material-components-web-react/blob/788b426d66bdc5126a9d5448a047e2eb91f56e25/packages/chips/ChipSet.tsx#L162-L180) which overwrites the `handleSelect`, `handleInteraction`, and `handleRemove` properties of the `<Chip/>`. As a result they are never called.  ChipSet should either create a new function which calls both ChipSet's and

[2019-01-31 19:44] mgr34 opened #652 "(Chips): Chip adapter is missing method `notifyTrailingIconInteraction`"
Chip adapter is missing method `notifyTrailingIconInteraction`

also should include property `shouldRemoveOnTrailingIconClick` and the associated getter/setter's from the foundation.

[2019-01-31 19:46] mgr34 commented on #652
#271 - references need for `shouldRemoveOnTrailingIconClick`

[2019-02-01 13:15] sidharthachatterjee opened #654 "SSR for react-button fails due to usage of HTMLElement"
Hello there

SSR for `@material/react-button` currently fails with
[code]

Here is a minimal reproduction of this — https://github.com/sidharthachatterjee/mdc-ssr-test

[2019-02-01 16:37] jaydanurwin commented on #654
Having this issue trying to build with the SSG, Gatsby. I'd really like to get a Gatsby project up using the official MDC React components but this is the biggest blocker from making that happen. I'd also like to make a starter for Gatsby using the official components which would help get this awesome library out to the React community more.

Hopefully we can get this resolved quickly!

[2019-02-02 15:14] oliviertassinari commented on #654
@jaydanurwin 👍 for the Gatsby starter, I will work on one.

[2019-02-04 15:26] mgr34 commented on #499
@moog16, I'd like to work on this issue in the near future. Might you have any specs outside of a more declarative syntax?

Before diving into it, I would imagine this would slim down  `<TopAppBar/>` (index.tsx) and introduce a slew of breaking changes. the TopAppBarProps interface would see `actionItems` , `navigationIcon`, and `title` moved `<TopAppBarSection/>`.  Additionally, Section would see

[2019-02-04 15:30] mgr34 opened #655 "chore update Copyright to 2019."
Majority of files still read

[code]

this should be updated to 2019

[2019-02-04 15:41] kfranqueiro commented on #655
The copyright notices in our files typically reflect the year of first publication, which is why many of them contain 2018 in this repository (and possibly earlier in MDC Web).

[2019-02-04 15:47] mgr34 commented on #655
That is a very rational decision. I'll close this issue.

@kfranqueiro Should I resist the urge to update 2018 to 2019 when preparing PR's for other issues?

[2019-02-04 15:48] #655 closed

[2019-02-04 15:54] kfranqueiro commented on #655
Yeah, don't worry about updating copyright in existing files, unless it's a full-blown rewrite.

[2019-02-05 23:39] ZeJ0hn commented on #557
Hello @moog16,

Thank you for your example.
I need to add this in the css file :
[code]

Else my main component didn't fill the whole space.
Is it ok for you ?

Note : the documentation for the drawer is not up-to-date. The _.top-app-bar-fix-adjust_ is not defined and the main component doesn't render correctly

[2019-02-06 00:37] ZeJ0hn opened #656 "Error importing scss instead of css"
Hello,

I try to use the example given by moog16 [here](https://github.com/material-components/material-components-web-react/files/2710767/app.zip) (issue  #557 )
But I have this error :
[code]

Using CSS instead works fine

[2019-02-06 08:43] moog16 commented on #650
Thanks for opening this issue and PR..continuing dialog in PR

[2019-02-06 17:12] mgr34 opened #657 "NotchedOutline receives 0 width from FloatingLabel if TextField appears in Dialog"
Not sure this is a bug per say, but wanted to share an issue I ran into.

I have a `<TextField outlined label={this.state.label}/>` in a `<Dialog/>`. Since the TextField is mounted while the dialog is not visible the `handleWidthChange` method of `FloatingLabel` reports a zero width. Therefore `NotchedOutline` carves out a zero-width notch. And lays atop the label.  [[0](https://i.imgur.com/xU8vzY

[2019-02-06 20:54] #650 closed

[2019-02-06 21:13] mgr34 opened #658 "FAB missing exited property"
FAB's can have the optional ability to exit. MDC-Web supplies us with class `.mdc-fab--exited` [[0](https://github.com/material-components/material-components-web/tree/v0.41.0/packages/mdc-fab#css-classes)] This class "animates the FAB out of view. When this class is removed, the FAB will return to view." What I am proposing is that FAB has a boolean prop exited. This can be used to add the class

[2019-02-06 21:22] mgr34 opened #660 "FAB should also extend React.ButtonHTMLAttributes"
While working on a PR for an exited prop (#658) I wanted to pass an `onClick` handler to toggle exit value. However, since FAB was not extending `React.ButtonHTMLAttributes` I was unable to pas s`onClick`. This also extended to other attributes you may find on a button. E.g. title, name, or type.

**error  msg when including name**
[code]

Changing

[code]

TO

[code]

resolves the error message.

[2019-02-06 22:20] #271 closed

[2019-02-06 22:20] #652 closed

[2019-02-07 21:05] moog16 commented on #557
@ZeJ0hn are you saying the example on the drawer readme is not correct?

Also I'm not sure what you mean about the `NOTE`. The class is actually `.top-app-bar--fixed-adjust`

[2019-02-07 21:09] moog16 commented on #656
@ZeJ0hn did you run `yarn` before running `yarn start`?

[2019-02-07 21:41] ZeJ0hn commented on #557
@moog16 My explanation is not very clear. Sorry for that.

In the drawer README, if you try to use the example "_Dismissible or Permanent drawer below top app bar_", it doesn't work. The text "Your inbox content" doesn't appear.
So, instead to have this css :
[code]

I had to use this one.
[code]

and add the class .top-app-bar-fix-adjust to the <TopAppBarFixedAdjust>

[2019-02-07 21:47] ZeJ0hn commented on #656
Yes. Same issue.

I tried with npm or yarn
The complete message is :
[code]

[2019-02-07 22:10] madaz opened #663 "List with conditional false children error"
List component fails on false conditional `&&` children.

Overview

[code]
Example https://codesandbox.io/s/2r86yyvpp

The  `list/index.tsx.isListItem` is not handling `null` element which is what is passed in when a false condition is triggered

[code]

Should be

[code]

Work around is to create a custom If component e.g. `<If condition={showDivider} truthy={<ListDivider/>} />`

I would send a P

[2019-02-08 15:56] moog16 commented on #656
try increasing the version to 0.8.0.

[2019-02-08 16:00] #658 closed

[2019-02-08 16:00] #660 closed

[2019-02-08 16:30] ZeJ0hn commented on #656
Same error

[2019-02-08 16:50] moog16 commented on #656
when you inspect your `node_modules/@material` directory do you see the drawer directory?

[2019-02-08 16:52] moog16 commented on #557
ah I see...I remember having to do that as well. Do you mind opening a PR to update the readme?

[2019-02-08 18:17] moog16 commented on #657
Yes definitely sounds like a bug without investigating this. Let's leave this open until someone can take a look. For now its good to have your workaround recorded. Thank you!

[2019-02-08 18:36] kfranqueiro commented on #657
From the MDC Web end, this is expected behavior if you initialize a text field inside a closed dialog, because notched outline needs the elements to be in flow to measure correctly. This can be remedied by calling `layout` on the text field component when the `MDCDialog:opened` event is fired.

See also https://github.com/material-components/material-components-web/issues/4328#issuecomment-4594734

[2019-02-08 18:40] moog16 commented on #657
Ah thanks for the insight @kfranqueiro - I think then the React version should have something to trigger the `foundation.layout` method.

[2019-02-08 19:24] moog16 commented on #663
Thanks for opening. Yup definitely a bug. Once we merge your current PR, we can hopefully open a PR to fix this.

[2019-02-08 20:11] veltman commented on #640
Thinking about this a bit more it seems like it might be preferable to make the min version 16.4.2, since that's what's currently being tested against - or to roll back the devDependencies to 16.3.0 - what do you think?

[2019-02-08 20:36] mgr34 commented on #648
#649

[2019-02-08 20:36] #648 closed

[2019-02-08 20:50] moog16 commented on #640
I think the earlier the version the wider the audience that can use the components. So my inclination is to rollback devDeps to 16.3.0. But like you said we've been using 16.4.2 as what has been tested against.  I think making the min version 16.4.2 is the safer bet.

[2019-02-08 21:04] veltman commented on #640
Sounds good - it also wouldn't prevent people from using an earlier version, just warn.

[2019-02-08 21:06] moog16 commented on #640
Right, but they wouldn't be able to anyways with the different features we use in the repo. Or it would force them to update. So this at least will throw them a warning instead of them having sift through the changelog and figuring out why its not working (like you had to do).

[2019-02-08 21:11] ZeJ0hn commented on #656
<img width="593" alt="capture d ecran 2019-02-08 a 13 11 09" src="https://user-images.githubusercontent.com/38920448/52506321-0e3c3080-2ba3-11e9-9986-76c942bcb6aa.png">

[2019-02-08 21:12] ZeJ0hn commented on #557
No PR. I can do that if you want

[2019-02-08 21:14] moog16 commented on #557
Ya that would be great! Otherwise I might reopen this issue to fix them later.

[2019-02-08 21:15] moog16 commented on #656
can you take a screenshot of what your `node_modules/@material/react-drawer/node_modules` looks like?

[2019-02-08 21:28] ZeJ0hn commented on #557
Hello,

I create the PR #666
I also fix another example with the PR #665 (but I don't know with the build failed)

Have fun

[2019-02-08 21:29] ZeJ0hn commented on #656
<img width="596" alt="capture d ecran 2019-02-08 a 13 29 26" src="https://user-images.githubusercontent.com/38920448/52507151-93c0e000-2ba5-11e9-800d-f4e349cd6f12.png">

[2019-02-08 21:54] moog16 commented on #557
thank you!

[2019-02-08 23:56] moog16 commented on #656
hmm very strange because i cannot reproduce. Only other difference is node version. Can you print out `node -v` and `npm -v`?

[2019-02-09 01:10] ZeJ0hn commented on #656
[code]

[2019-02-09 01:23] moog16 commented on #656
that's the exact same that i have. Have you tried `rm -rf node_modules && yarn`?

[2019-02-09 01:29] ZeJ0hn commented on #656
Hello,

I retry from the beginning :
[code]

[2019-02-09 01:34] moog16 commented on #656
OH what if you follow these steps for setting env variables https://github.com/material-components/material-components-web-react#add-environment-variable?

[2019-02-09 01:34] moog16 commented on #656
you will need to quit/restart your terminal window for the env variables to work

[2019-02-09 02:17] ZeJ0hn commented on #656
It works !

Thank you for your time :-)

[2019-02-09 02:17] #656 closed

[2019-02-10 00:20] #626 closed

[2019-02-10 06:44] iShawnWang commented on #434
Try https://github.com/iShawnWang/withUnmounted package as a elegant solution

[2019-02-10 20:18] tadeas22 commented on #654
There is some temporary solution?

[2019-02-10 22:04] julien1619 commented on #654
I didn't find one. For now I removed it from my project and will try to add it again in one month.

I did a PR to fix it but it will have to wait the full Typescript rewrite to be merged. https://github.com/material-components/material-components-web/pull/4372

[2019-02-10 22:58] rajzik opened #669 "Jest error when trying using text field"
I tried to test app which using @material/react-text-field with Create react app latest version available.
`"@material/react-text-field": "^0.9.0"`

Then I was trying to test with `yarn test` with following error:
[code]

Steps to reproduce,
[code]
this App.tsx
[code]

And then run
[code]

Is there any workaround? I have tried to play with jest settings but I didn't figure it out.

[code]

[2019-02-11 19:37] moog16 commented on #669
I personally haven't used Jest, but take a look at how npm installed the `react-text-field` package in your node_modules directory. The `@material/textfield` package could be nested inside `@material/react-text-field/node_modules` directory.

Also not a regex expert, but I think the `js` of `"/node_modules/(?!@material).+\\.js$"` should be optional. Sometimes/most of the time we leave off `.js` in

[2019-02-12 17:51] moog16 opened #671 "Create Tests for TabScroller"
This [PR](https://github.com/material-components/material-components-web-react/pull/633/files) was opened, but no tests were added. This is a todo to make sure this never happens again.

[2019-02-12 19:44] aluminick commented on #628
@moog16 Sorry, I forgot about this issue.
I've hoisted menu-surface using ReactDOM Portal but it has to be wrapped. And the tests are failing.

[2019-02-12 20:20] moog16 commented on #628
Oh great - do you have a branch already? Whenever you're ready please feel free to open a PR.

[2019-02-12 21:24] rajzik commented on #669
Yarn installed package under
``node_modules/@material/textfield``.
So this regex ``"/node_modules/(?!@material).+\\.js$"`` should work.

[2019-02-13 01:43] madaz commented on #50
PR #662 includes the `cross-env` and `rimraf` changes to be able to `npm run test:unit`

[2019-02-13 01:45] moog16 commented on #50
@madaz we still need to get screenshot tests to work as well. This specifically references the `npm stop/npm start` scripts - which are run in a dockerized container. Not sure how our docker container runs on a windows machine.

[2019-02-13 03:06] dugusword opened #675 "ChipSet componentWillUnmount is called before this.state.foundation is set"
this.setState({foundation}) is called async, if mount the component and unmount immediately without the state been updated yet, componentWillUnmount throws the exception

index.js:896 Uncaught TypeError: Cannot read property 'destroy' of null
    at ChipSet.componentWillUnmount (index.js:896)
    at callComponentWillUnmountWithTimer (react-dom.development.js:16816)
    at HTMLUnknownElement.callCa

[2019-02-14 01:48] moog16 opened #676 "Tab does not implement `setFocusOnActivate`"
Tab is missing the `foundation.setFocusOnActivate` method and needs to be implemented. There is an issue in the catalog where tabs do not work, and we believe that the active tab is being 'focused' on page load, which is causing a scroll issue.

I believe if we implement this, and setFocusOnActive to false, the scrolling issue will not occur.

[2019-02-14 18:19] #663 closed

[2019-02-14 18:19] moog16 commented on #663
#674 fixes it

[2019-02-14 22:17] moog16 commented on #675
sounds lke we should have an isMounted_ flag similar to linear progress https://github.com/material-components/material-components-web-react/blob/rc0.10.0/packages/linear-progress/index.tsx#L47.

[2019-02-14 23:22] lucasecdb commented on #588
any progress on this? I can't update my packages to versions above v0.7.x because my SSR breaks :-(

let me know if I can help with anything

[2019-02-15 01:19] moog16 commented on #588
@lucasecdb nothing has been started on this yet. If you'd like to propose something I'm all ears. I currently am not 100% committed to working on this project and am just acting as the maintainer. My plan is to hopefully get back to it in Q2/Q3.

[2019-02-15 01:33] lucasecdb commented on #588
@moog16 I have a really bold proposal, to be honest. I see that the majority of the React community and developers like to work more with [writing tests in jest](https://labs.contactually.com/migrating-2-000-specs-from-karma-to-jest-25dd8b0f3cfb) than any other test runner/framework. And it really makes sense when you apply the utilities that come builtin and snapshotting tests that compare what D

[2019-02-15 09:55] julien1619 commented on #654
My PR was merged a few hours ago, so I think we can expect a release soon.

[2019-02-15 11:47] ben-mckernan opened #679 "Setting anchor or button attributes on react-button causes type errors"
It should be possible to pass standard HTML attributes for buttons or anchors to the Button component. For example `<Button type="submit" />` or `<Button href="http://example.com" download />`.

However both of these example with cause a type error in typescript, like:
[code]
This is due to `ButtonProps` only extending `HTMLAttributes<T>`

[2019-02-15 14:01] garth opened #681 "Invalid sourceMappingUrls cause build warnings"
Some /dist files have references to source map files that are not included.

For example `/react-top-app-bar/dist/index.js` has the following reference:

[code]

but `top-app-bar.js.map` is not included in the package. There is an `index.js.map` so maybe the reference is just to the wrong file?

This issue seems to affect most packages and causes packaging tools, such as parceljs, to show a warnin

[2019-02-15 17:57] moog16 commented on #654
@julien1619 Just want to set expectations -- Next release for MDC Web is on March 4th, it'll be out then. Thanks again for fixing this issue!

[2019-02-15 17:58] moog16 commented on #669
@rajzik have you figured out what regex worked for you?

[2019-02-15 18:07] moog16 commented on #679
merged #680. Thanks for fixing!

[2019-02-15 18:07] #679 closed

[2019-02-15 18:23] moog16 commented on #681
@garth you're right - What I do is change the name of the main files from `foo-package-name` --> `index`. This is obviously problematic. I will try solving this one before the release this Tuesday.

[2019-02-15 18:29] jaydanurwin commented on #654
Thank you so much for the work on this one guys! I originally posted the issue in Gatsby's repo for MDC React components not building and now a fix is coming in March. I wish I knew enough about the root level packages and I would have contributed. Thank you again for the help, this is going to help me get a Gatsby Starter going with MDC React Components.

[2019-02-15 18:40] #681 closed

[2019-02-16 18:35] rajzik commented on #669
@moog16 bad luck there, I did not. I have tried everything I could think of.
Also I have tried everything from this thread https://github.com/facebook/jest/issues/6229, but this didn't work too.

[2019-02-16 18:54] moog16 commented on #499
@mgr34 Yes I have some ideas...similar to how there is a FixedAdjust, there should also be components we provide for the actionIcons/navigationIcons and title. Also as you mentioned we need to wrap these in a TopAppBarSection.

Only requirements is that we maintain the MDC Web's feature set and use all the foundation methods/implement all of the adapter methods. There are some cases where it does

[2019-02-16 19:00] moog16 commented on #588
@lucasecdb I've never used Jest, and I know that the majority of the React community uses it. I understand there are a lot of tools and features that we could use. I am hesitant to switch testing frameworks since it is such a big change. There is also the integration with Travis and the release that would need to be addressed. Can you write out all the different tasks that would be involved?

Woul

[2019-02-16 19:03] moog16 commented on #485
closing this as there has been no activity for a while. Please reopen this issue/open a new one, and ping me.

[2019-02-16 19:03] #485 closed

[2019-02-17 18:08] lucasecdb commented on #588
Not only Karma, but Chai and Mocha too. Jest already provides a similar toolset that could replace these libraries without any issues. I've seen that you guys also use `testdouble` a lot in the tests, and I do think it'd be harder to replace it at once (because of the lack of codemods), but it's possible to do so using `jest.fn()`, and we could migrate them gradually after the "rewrite".

I've don

[2019-02-17 19:57] gugu opened #683 "[textfield] there is a call to `setState({wasUserTriggered: true})`, immediately followed by onChange"
It runs
https://github.com/material-components/material-components-web-react/blob/a79dc3a31ecf70c6293b16067ec4e2c02c5b1c6c/packages/text-field/Input.tsx#L201
and then
https://github.com/material-components/material-components-web-react/blob/a79dc3a31ecf70c6293b16067ec4e2c02c5b1c6c/packages/text-field/Input.tsx#L202

is it expected? It does not handle values correctly in redux-form and is it possib

[2019-02-17 22:02] moog16 commented on #588
Couldn't we still use test double with jest? It sounds like we could slowly
migrate that way too. Before you get too deep into the rewrite, let me
consult with the rest of the MDC Web team. There might be some thing I'm
missing.

Otherwise yes a new issue is a good next step.

On Sun, Feb 17, 2019 at 10:08 Lucas Cordeiro <notifications@github.com>
wrote:

[2019-02-17 22:08] lucasecdb commented on #588
Yes! The plan would be to slowly migrate it.

Sure! I'll be waiting :-)

[2019-02-18 14:22] gugu commented on #683
It was my issue, everything works fine

[2019-02-18 14:22] #683 closed

[2019-02-18 17:52] dohomi opened #684 "sass version with NextJS fails due to missing export on deployment"
Hello,
is there a way to use NextJS with this package? The issue I am facing is that I am unable to export SASS_PATH in the build chain, I am receiving following error:
File to import not found or unreadable: @material/typography/mdc-typography.
Do I miss something or is this package currently not able to run on NextJS with enabled sass?
Thanks

[2019-02-19 17:30] moog16 commented on #684
Personally I haven't used NextJS. In our [Getting Starting w/ Sass Section](https://github.com/material-components/material-components-web-react#add-environment-variable) it outlines environment variables you need to set. Try that out and see if it works for you.

[2019-02-19 21:43] moog16 commented on #588
@lucasecdb I don't think there is any reason we can't try to use jest. If you want to give it a shot I say go for it. But this task sounds like it could be a black hole, so please be transparent and communicate frequently - especially if you get stuck somewhere.

[2019-02-19 22:46] moog16 commented on #588
@lucasecdb I am curious about the snapshots (https://jestjs.io/docs/en/snapshot-testing)...will this actually detect the issues that you have been facing?

[2019-02-19 22:46] moog16 commented on #588
@lucasecdb I am curious about the snapshots (https://jestjs.io/docs/en/snapshot-testing)...will this actually detect the issues that you have been facing?

[2019-02-20 00:19] lucasecdb commented on #588
well, on a second thought, I think `jsdom` exposes a mocked `window` as a global variable, which wouldn't help much. I still think the jest migration would be nice, though, as it's what react developers are more comfortable using. But, in the end of the day, it's the maintainers that decide what is best for their codebase.

We could setup these just as rmwc have, which would be to assert that `ren

[2019-02-20 00:50] moog16 commented on #588
My only hesitation is you converting everything/spending a lot of time on it, and then the maintainers (us) not liking the direction. If you don't mind this, or can piecemeal the changes into digestible chunks I say try it out :)

[2019-02-20 03:27] TroyTae commented on #684
@dohomi
Was the import of the custom sass file successful?
Now I'm using sass-node and this module with next.js, it works well!

[2019-02-20 03:29] dohomi commented on #684
@TroyTae how do you deploy it to now/serverless? I was looking into some this repo on my next try: https://github.com/4cm4k1/personal-website

[2019-02-20 04:49] TroyTae commented on #684
@dohomi
I deploy all of files in the build directory(.next/**).
Can you build with next command successfully?
If you have this problem only deploy, how about import that sass file directly?

[2019-02-20 07:30] dohomi commented on #684
@TroyTae I finally got it up and running. There were missing sass-loader which was preventing the build.

[2019-02-20 07:30] #684 closed

[2019-02-20 14:27] charles-lai opened #686 "Chipset don't show initial selected property correctly."
When I initially give a chip a select={true} property, it don't update selection correctly.
[code]
Render result is:
![image](https://user-images.githubusercontent.com/47345355/53098484-b2888480-355e-11e9-85c1-5e36b416f2e8.png)

[2019-02-20 17:16] moog16 commented on #686
@charles-lai the API is admittedly confusing, and I think needs to be rebuilt.

You must pass `selectedChipIds` to the <ChipSet> for default values. You can also update the selectedChips via that prop.

[2019-02-21 04:21] moog16 commented on #669
have you tried https://github.com/facebook/create-react-app/issues/5241 - specifically inlining it as mentioned in [this comment](https://github.com/facebook/create-react-app/issues/5241#issuecomment-426986623)

[2019-02-21 04:22] moog16 commented on #552
@levibotelho, after reading your last post it sounds like the proposed fix of #438 would also fix the issue you're encountering. The idea is to allow people to compose the checkbox like so:

[code]
With this change, you should be able to pass whatever props you'd like.

[2019-02-21 19:00] mgr34 opened #689 "feat(material-icon): allow for custom tags"
I would like to propose adding a tag property on material-icon's. This would allow more extensible and semantic markup. A use case for this would be for actionItem's within top-app-bar. At present the examples in mdc-web [[0](https://github.com/material-components/material-components-web-catalog/blob/267199c7615def974084dd538ecac416fde6ee9b/src/TopAppBarCatalog.js#L47-L51)] display material-icons

[2019-02-22 13:18] ben-mckernan opened #690 "TabBar/Tab should only have one tab stop for accessibility"
This is related to this issue: material-components/material-components-web#4429

On first render every tab in the tab-bar is a tab stop, since this is the default behavior for buttons without a tabIndex. When selecting another tab, the previously selected tab has its tabIndex state set to -1 meaning it is no longer possible to tab to.

A more accessible solution would be to ensure every tab except

[2019-02-22 19:10] moog16 commented on #689
@mgr34 you mean something like this:
[code]

Yes this is a pattern we have, and it would make sense that it also continues in this component. I'm open to this idea.

[2019-02-23 00:47] moog16 commented on #690
merged #691. Thanks for fixing and opening this issue :+1:

[2019-02-23 00:47] #690 closed

[2019-02-26 18:55] moog16 opened #694 "Top App Bar Two Rows not up to MIO spec"
Related https://github.com/material-components/material-components-web-react/pull/688

In PR #688, @mgr34 added the twoRows variant as a test. This is actually not to spec, but this is actually a bug of MDC Web. This issue is to track the issue in MDC Web.

[2019-02-26 18:57] mgr34 opened #695 "delete"
(wrong project -- removing)

[2019-02-26 18:58] #695 closed

[2019-02-26 19:06] mgr34 opened #696 "bug(dialog): Should extend HTMLElement"
Dialog, DialogContent, DialogTitle, DialogFooter should extend HTMLElement.

For example,

[code]

should change to

[code]

This was discussed briefly in PR (https://github.com/material-components/material-components-web-react/pull/688#discussion_r259526517)

I should be able to have PR before 0.11.0 is published

[2019-02-26 21:35] moog16 opened #697 "Use MDC Web Typings"
- [ ] Update MDC Web select (https://github.com/material-components/material-components-web-react/issues/242)
- [x] Update to updated notched outline (https://github.com/material-components/material-components-web-react/issues/560)
- [x] Update list. Breaking changes in 42, 43, and 44 (#740)
- [x] Update checkbox, fab from breaking changes in 0.42.0 https://github.com/material-components/material-

[2019-02-27 17:32] #499 closed

[2019-02-27 17:34] moog16 opened #698 "Deprecate Top App Bar renderProps"
related https://github.com/material-components/material-components-web-react/pull/688

In v0.13.0 deprecate props and methods in top-app-bar/index.ts to support renderProps. This is in favor of compositional declaration of the TopAppBar.

[2019-02-27 21:25] moog16 opened #699 "Replace .ts source files from package with .js ESModules"
React should follow the same module patterns:
1. UMD
2. ESModules
3. npmignore .ts files

Since this will be a breaking change, we can move the ESModules into a directory like the UMD (/dist). We may need to look into having a root `index.js` file.

[2019-02-28 00:41] moog16 opened #700 "Support IE11"
React ripple uses Array.from(). This is not supported by IE11. We should instead use `[].slice.call( ...)`

[2019-02-28 00:51] moog16 commented on #700
eg
[code]

[2019-02-28 01:19] moog16 commented on #700
`Array.from, classlist.contains, new Set, <string>.includes, [].includes` should not be used. Test on IE11.

[2019-02-28 18:27] moog16 opened #701 "Try to remove ts-ignores for `Tag`"
- ts-ignore comments for `<Tag />`
- experiment removing them by following comment in https://github.com/Microsoft/TypeScript/issues/28892#issuecomment-466554265

[2019-02-28 23:04] kfranqueiro opened #703 "chips package relies on classnames 2.2.6 but depends on ^2.2.5"
This was originally reported by kittie on discord.

We are relying on the existence of a default export in `classnames` in `ChipSet.tsx`, but the default export was only added in classnames 2.2.6, whereas our package.json lists 2.2.5. If someone somehow installs 2.2.5, they will get an error like this:

[code]

This likely flew under the radar as we have no package-lock for chips specifically, and

[2019-03-01 17:50] moog16 commented on #703
It occurs to me that instead of upgrading classnames package, we should the `import * as classnames from 'classnames'` syntax. ChipSet, as well as dialog, icon-button, snackbar, tab, tab-bar, tab-indicator/scroller were not converted correctly. I will reproduce this before making changes.

[2019-03-01 18:13] moog16 opened #707 "Snackbar is missing `open` prop for dynamic open/closing"
Currently there is no way to open/close snackbar without adding/removing from the dom. I propose that we use an `open` prop to allow for dynamic open/close:

[code]

[2019-03-01 18:47] moog16 commented on #703
TLDR;
- update all packages to `^2.2.6`
- classnames should be imported

**RE classnames:**
In <root>/package.json replaced `classnames: ^2.2.6` --> `classnames: 2.2.5`. Received error:
[code]

**RE importing esmodules:**
references:
- https://stackoverflow.com/questions/29596714/new-es6-syntax-for-importing-commonjs-amd-modules-i-e-import-foo-require
- https://github.com/basarat/typescript-book/b

[2019-03-01 19:20] moog16 opened #710 "Update roses example after v1-prerelease"
Latest react packages version that the roses example is using is 0.7.0. Once we update to v1, we should also add typescript and update the packages to latest.

[2019-03-01 22:46] moog16 commented on #352
toggleCheckbox is no longer an adapter method, but has been replaced by 3 other adapters: https://github.com/material-components/material-components-web/blob/master/CHANGELOG.md#0420-2018-12-04

[2019-03-01 23:42] lucasecdb commented on #561
So, I've figured that with the code from #706, you can add the following to your `package.json` to fix the SSR problems I was having:

[code]

If you do not want to wait for the code to be released, you can [`link`](https://docs.npmjs.com/cli/link.html) the built package from the rc0.11.0 branch and link it in your repo. I'm closing this since the fix was already merged.

[2019-03-01 23:42] #561 closed

[2019-03-01 23:48] 4cm4k1 commented on #561
Wow, awesome! Thanks, @lucasecdb! Also, thanks @moog16; I'm sorry I didn't have time to continue working on my PR related to this. I started a new software engineering job, so that has been taking a lot of my time lately, though I think as I settle in there, I will be able to spend more of my time on GitHub again. 💜

[2019-03-02 00:56] moog16 commented on #561
@lucasecdb thanks for finding a fix for this. I finally have some more bandwidth now that we will be releasing 1.0.0 next week. Going to try upgrading all the packages. :)

[2019-03-02 22:53] lucasecdb opened #713 "Controlled dialog with onClose not respecting open prop"
When the you specify both `open` and `onClose` prop to the `Dialog` component, it doesn't respect the `open` prop when clicking the button on the footer.

I've created a codesandbox (linked bellow) with the observed behavior.

[![Edit Controlled Dialog bug report](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/910o248zjo?fontsize=14)

[2019-03-02 23:18] lucasecdb commented on #713
Nevermind this, the `onClose` prop isn't the "request for a close" that I was thinking, but more of a notification that the dialog _has been_ closed.

[2019-03-02 23:18] #713 closed

[2019-03-03 12:00] julien1619 commented on #654
I think you should reopen this issue, it should be closed only when mdc-web is updated and when this release of mdc-web-react is actually released. It was automatically closed because of my PR.

[2019-03-04 13:06] vzaidman commented on #461
@moog16 would you like a contribution of the expand functionality? do you know if it's in any road map / being worked on?

[2019-03-05 10:14] levibotelho commented on #552
@moog16 makes sense, thanks!

[2019-03-05 10:14] #552 closed

[2019-03-05 22:04] moog16 commented on #654
Ah yes...I think when we merged #706 it auto-updated this issue. Thanks!

[2019-03-06 10:26] gavmck commented on #654
Is there an expected release date for this one? I noted it said 4th March above

[2019-03-06 12:40] ben-mckernan commented on #676
I'm also seeing this issue, where the active tab is stealing focus on page load. I can do a PR with a fix if you like. Do you think it should be possible to configure the value passed to `setFocusOnActive` via a prop on Tab?

[2019-03-06 15:19] charles-lai commented on #686
It's OK, thanks!

[2019-03-06 16:46] mgr34 opened #717 "bug(select): floating label does not float if value is not string"
If `<Select>` value prop is not a `string` mdc-web will not add the `mdc-floating-label--float-above` class and the label will sit atop the text [[0](https://imgur.com/DLCJQFu)]. Select expects its value to be either a `string | string[] | number`. I believe it should only be string to conform to HTMLSelectElement[[1](https://html.spec.whatwg.org/multipage/form-elements.html#the-select-element)].

[2019-03-06 17:36] moog16 opened #718 "Tab does not implement notifyInteracted"

[2019-03-06 17:38] moog16 commented on #676
Name is actually: `setFocusOnActivate`.

And yes...prop is expecting a boolean, so perhaps we can have a `focusOnActivate={...}`, like:
[code]

Then in the componentDidUpdate, we could have a check for that prop, and call `foundation.setFocusOnActivate(true or false)`. How does that sound?

[2019-03-06 17:45] moog16 commented on #654
@gavmck I meant the MDCWeb release was 3/4. We release v1.0.0-1. We couldn't fix this issue before that release.

[2019-03-06 17:54] gavmck commented on #654
Ah I see! Do you have an ETA?

[2019-03-06 17:55] moog16 commented on #461
@vzaidman this is not on the roadmap of web, which means we can't support it on MDC React. If you would like to see this, I'd suggest opening an issue there. I did a search for all open issues and didn't find that open.

[2019-03-06 17:58] moog16 commented on #654
AH - sorry for not answer that part...I'm working on converting the components over to the new release (v1.0.0), which will fix this issue. I'm not sure how long this will take me as I have. The next 2 releases are 3/19 and 4/16. I anticipate being finished with it before 4/16, but can't guarantee it will be done by 3/19. I know this is a popular issue so I think I could either move the 3/19 relea

[2019-03-06 18:21] MatthiasF999 opened #719 "Switch in Dialog renders large ripple"
When I add a Switch to a Dialog, the ::before element is huge.
![dialogwithswitch](https://user-images.githubusercontent.com/11466334/53903784-e1b1f200-4044-11e9-9fcb-d7ddf4a0d023.png)

I believe this is because the switch is initialized inside a closed dialog, but this behavior does not occur when using the material-components-web (example here: https://codepen.io/matthiasf999/pen/qvRomz).

[2019-03-06 18:47] MatthiasF999 opened #720 "Outlined textfield notch is to small"
The label does not fit in the notch of the outlined textfield.
![textfield](https://user-images.githubusercontent.com/11466334/53905006-c3012a80-4047-11e9-9b06-a657c33b17fb.png)

[code]

[2019-03-06 19:38] mgr34 commented on #719
I had a similiar issue #657

[2019-03-06 21:49] moog16 commented on #717
@mgr34 this is an interesting issue because it seems like HTMLSelectElement does not match HTML5 spec. According to HTML5 spec is should be a [DOMString](https://heycam.github.io/webidl/#idl-DOMString). Do I understand you correctly? If that's the case, we should probably open an issue against [react definitelytyped](https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/react).

I'm

[2019-03-06 22:11] ben-mckernan commented on #676
Great, that is what I had in mind.

[2019-03-06 22:19] mgr34 commented on #717
Hi @moog16,

I do not think it is an issue in react definitelytyped because they do extend the HTMLSelectElement interface to `string | string[] | number`. This is a modification made by the react developers and if I am reading their [documentation](https://reactjs.org/docs/forms.html#the-select-tag) correctly it was to make "his makes it so that `<input type="text">`, `<textarea>`, and `<select>`

[2019-03-07 15:05] moog16 commented on #717
@mgr34 I understand the differences between DomInterface & Attributes. They have the same syntax and look the same, but the browser and other frameworks treat them differently.

Since MDC Web has value strictly as string, I'm fine with changing it.

[2019-03-07 15:07] mgr34 commented on #717
Great--I'm glad I didn't need to explain further. :) I was having a hard time putting it into words as I was rushing out the door yesterday evening.

[2019-03-07 16:04] moog16 commented on #717
Awesome - thanks for doing all that research. You made a convincing argument.

[2019-03-07 16:39] mgr34 opened #724 "bug(select): state.value not passed to NativeControl.props.value"
the Select component has optional prop value. The source of truth for the selected value is Select.state.value. However, Select.props.value is passed to NativeControl.

[code]

[2019-03-07 16:50] moog16 commented on #719
@mgr34 yup this sounds like an issue from MDC Web about a year ago. I think we added layout then. Fix is similar to #657: to add a layout method in the ripple/index.tsx on an update.

[2019-03-07 16:51] moog16 commented on #720
@MatthiasF999 what version are you using? Also are you using this in a dialog?

[2019-03-07 16:53] moog16 commented on #724
@mgr34 I'm actually going to be rewriting Select because of Typings. I will leave this open and add a label to make sure this doesn't happen after rewrite. Also what would help is if you could add a unit test :)

[2019-03-07 16:54] mgr34 commented on #724
I have a PR coming in the next few minutes with this unit test. Knocking out #717 first

[2019-03-07 16:56] moog16 commented on #724
Sounds good! I'll look out for it :)

[2019-03-07 20:37] MatthiasF999 commented on #720
I am using version 0.10.0.

This happens with and without a dialog.

I made an example here: https://repl.it/repls/ScarceLoneAdministration

[2019-03-07 20:55] MatthiasF999 commented on #719
The MDC Web version does not contain a layout method. That was the first thing I looked for. The work around does not help either.

[2019-03-07 21:30] moog16 commented on #719
The layout method needs to be called on the ripple method.

[2019-03-07 21:31] moog16 commented on #720
Hmm really interesting...This will require some investigation. I'll try looking at this tomorrow.

[2019-03-08 16:20] #696 closed

[2019-03-08 17:38] #717 closed

[2019-03-08 17:59] moog16 commented on #724
Closing since #726 is merged

[2019-03-08 17:59] #724 closed

[2019-03-08 18:14] moog16 commented on #720
@MatthiasF999 I just tried reproducing in create-react-app. Are you familiar with this? We have a getting started guide in our main readme. Could you try to do the same steps and see if you still see this result?

Once you get create react app setup, follow these steps:

[code]

Then create a file `src/TextField.js`:

[code]

In App.js do:

[code]

A window to localhost:3000 should open and you sh

[2019-03-08 18:14] moog16 commented on #720
![screen shot 2019-03-08 at 10 10 03 am](https://user-images.githubusercontent.com/579873/54047101-fe584200-418a-11e9-827d-6c8ae6015960.jpg)

[2019-03-08 20:06] MatthiasF999 commented on #720
It now works.
After a little research I found out, that this happens with react-scripts 2.1.5. A new version was released after the issue was created, which resolves this issue.

[2019-03-08 21:46] moog16 commented on #720
So you're saying that the text-field is incompatible with react-scripts 2.1.5?

[2019-03-08 21:56] MatthiasF999 commented on #720
Exactly. I do not have this problem with the new version and if I update the react-scripts in the project where the problem occurs, the issue is gone.
If I downgrade the react-scripts to 2.1.5 in the project I created today, the issue is back.

[2019-03-09 00:15] moog16 commented on #720
So something must have fixed it in v2.1.6 https://github.com/facebook/create-react-app/blob/master/CHANGELOG.md#216-march-6-2019.

However what is the site you linked to using to build those assets? https://repl.it/repls/ScarceLoneAdministration

[2019-03-09 00:27] MatthiasF999 commented on #720
Repl.it is an online IDE. Since I was not able to import the component in JSFiddle or Codepen, I used repl.it, since it allows to import npm packages.

[2019-03-10 16:40] thdk opened #727 "Can't bundle with rollup"
I've tried to import both from '@material/react-chips' and from '@material/react-chips/index' as well as some other attempts but each time without success.

Below are two of my attempts:

1. **import { Chip, ChipSet } from '@material/react-chips'**

`'ChipSet' is not exported by node_modules\@material\react-chips\dist\index.js`

2. **import { Chip, ChipSet } from '@material/react-chips/index'**

`

[2019-03-11 08:55] 494310051 commented on #434
npm ERR! 404 Not Found: @iShawnWang/withUnmounted@latest

[2019-03-11 09:19] ben-mckernan commented on #727
Since the packages are bundled in CommonJS format you would need to add named exports for rollup to find them, e.g. `"@material/react-chips": ["Chip", "ChipSet"]`

[2019-03-11 10:39] thdk commented on #727
@ben-mckernan
Aah, my fault after all.. Thanks for pointing me into that direction.
I've updated my repo for future reference if anyone finds this thread:
[https://github.com/thdk/test-material-react-typescript-rollup/commit/bb5a92ffa84cf11b327933a17fc6aaf99a01da73](https://github.com/thdk/test-material-react-typescript-rollup/commit/bb5a92ffa84cf11b327933a17fc6aaf99a01da73)

Below also the entire

[2019-03-11 11:00] #727 closed

[2019-03-11 17:58] moog16 commented on #720
Confirmed. I just tried react-scripts:
2.1.5: broken like your screenshot
2.1.6: did not compile
2.1.7: worked

I'm not sure what it is, but I will continue to investigate. This is a lower priority issue though since it sounds like you can work around it.

[2019-03-12 00:02] moog16 opened #728 "List onKeyDown event triggers multiple times"
https://codepen.io/moog16/pen/BbwRKd

If holding any key down, it will trigger the onKeyDown event multiple times. This is a React Synthetic event feature/bug. This is causing issues with checkbox-list.

[2019-03-12 00:27] moog16 opened #729 "List convert listitem to functional component"

[2019-03-12 10:38] iShawnWang commented on #434
Sorry for the case-sensitive : `npm install --save @ishawnwang/withunmounted` works fine ~

[2019-03-12 12:25] heliocosta opened #730 "How to change a two-tone color icon?"
Hi there, I've managed to use the two-tone Material icon, however, I the colours aren't changed. I've tried everything but no success at all.

Current colours
![image](https://user-images.githubusercontent.com/1838945/54199817-c3734880-44c1-11e9-960d-acfa25fb3285.png)

Expected behaviour
![image](https://user-images.githubusercontent.com/1838945/54199899-e7368e80-44c1-11e9-850b-9f61d7c1ff70.png)

[2019-03-12 16:54] #676 closed

[2019-03-12 19:00] SandHilt opened #731 "How to acess native element via Typescript?"
How to make same example in Typescript?

https://github.com/material-components/material-components-web-react/tree/rc0.11.0/packages/text-field#accessing-the-native-input-element

[2019-03-12 19:16] moog16 opened #732 "Text Field props are all required"
Many of the Text Field TS props are required, when they should be optional. This results in the error:
[code]

[2019-03-12 19:16] moog16 opened #733 "ChipSet props required"
related https://github.com/material-components/material-components-web-react/issues/732

Occurs in ChipSet.ts

[2019-03-12 19:17] moog16 opened #734 "TS props required when should be optional"
related #732

- [x] chips/chip-set/index.tsx
- [x] drawer/index.tsx
- [x] linear-progress/index.tsx
- [x] list/index.tsx
- [x] menu-surface/index.tsx
- [x] notched-outline/index.tsx
- [x] select/index.tsx
- [x] switch/index.tsx
- [x] text-field/helper-text/index.tsx

[2019-03-12 19:22] moog16 commented on #733
closing for https://github.com/material-components/material-components-web-react/issues/734

[2019-03-12 19:22] #733 closed

[2019-03-12 21:54] moog16 opened #738 "Remove defaultProp explicit type annotations"
According to [TypeScript documentation](https://www.typescriptlang.org/docs/handbook/release-notes/typescript-3-0.html) under caveats:

We should remove the explicit type annotations from defaultProps in all components.

[2019-03-13 17:01] moog16 commented on #730
Are you using Sass mixins? Or CSS overrides? A codepen or some sample code would help to help you :)

[2019-03-13 17:05] moog16 commented on #731
Are you running into errors? The code should be the same. We actually have a screenshot test written in TS. https://github.com/material-components/material-components-web-react/blob/v0.10.0/test/screenshot/text-field/refTest.tsx

If you're in the root of the directory, you can run the screenshot tests with `npm start` (please follow [getting started guide](https://github.com/material-components/ma

[2019-03-13 20:11] #734 closed

[2019-03-14 05:52] TroyTae commented on #301
Can I ask you more detail about this issue?
I installed "@material/react-chips": "^0.10.0", but it looks to work well.

[2019-03-14 14:07] kagneta opened #745 "TopAppBar subcomponents failing to import"
All of the sub components in the example fail to load with the exception of TopAppBarFixedAdjust.  This is my first attempt at using this component, so I am just attempting to get the the example javascript initiation code on [this page](https://github.com/material-components/material-components-web-react/tree/rc0.11.0/packages/top-app-bar) working.  I broke the import apart to see if i could pinp

[2019-03-14 16:01] dawsonc623 opened #746 "[HelperText] Purpose of both `validation` and `isValidationMessage`"
I was reviewing the code related to validation messages with `HelperText`. It seems that when the setting the `validation` attribute, the React component adds the `mdc-text-field-helper-text--validation-msg` class to the list of classes added to the `p` created and rendered, while setting `isValidationMessage` triggers a process telling the foundation object it is for validation which in turn adds

[2019-03-14 16:11] dawsonc623 commented on #745
The line it points you to is the one with `MaterialIcon`, not `TopAppBar*`. Did you install `@material/react-material-icon`?

[2019-03-14 16:15] kagneta commented on #745
yes, that is just one of the many errors... MaterialIcon works fine by itself, its the topappbar subcomponents.

[2019-03-14 16:15] tomazs commented on #745
the documentation is for a new version than what is available on npm.

[2019-03-14 16:24] dawsonc623 commented on #703
You should be able to get around that issue by using `esModuleInterop: true` in the `tsconfig.json` file.

[2019-03-14 16:42] moog16 commented on #301
@TroyTae - this bug is specifically regarding FilterChips without a leading icon. The ripple isn't calculated correctly since there is no leading icon, and when the filter chip animates in, it still thinks its the shorter length.

[2019-03-14 17:40] moog16 commented on #745
@kagneta where are you now in trying to get this to work? Yes you are pointing to the newer version's docs that aren't yet released, so a lot of those components do not yet exist. Sorry for the confusion, but please look at https://github.com/material-components/material-components-web-react/tree/v0.10.0/packages/top-app-bar

[2019-03-14 17:52] moog16 commented on #746
RE classList: This is actually our pattern thorughout all our components. Our thought process was when we add a class, it'll update state and thus rerender the component. We have been experimenting with just using the DOM's classList, and it seems to work just fine.

RE persistent: What do you mean "use the foundation"?  Can you explain further about gutting the foundation? Since the foundation is

[2019-03-14 17:56] moog16 commented on #731
Did this fix your issue?

[2019-03-14 18:35] kagneta commented on #745
@moog16 Thanks, I see now I am following new documentation with older code ... The main github page brings me to rc0.11.0 when i click on the top app bar component.

Thanks for the help.. this can be closed.

[2019-03-14 18:35] #745 closed

[2019-03-14 18:46] moog16 commented on #745
Ya the default working branch is rc0.11.0...we need that set for contributions. Otherwise it is confusing for documentation.

[2019-03-14 19:25] moog16 commented on #703
@dawsonc623 I agree this would work however our [findings from MDC Web](https://github.com/material-components/material-components-web/pull/4485#issuecomment-471691188) bloat our UMD packages. I realize we do not have `importHelpers: true` (like MDC Web), but could still lead to bloat with other deps/packages (just based off what @kfranqueiro found).

I eventually want to deprecate the .ts files a

[2019-03-14 22:42] dawsonc623 commented on #746
I do not think I communicated my point very clearly. This is what I see in the code (and correct me if I missed something - I am still learning the MDC architecture).

[This line](https://github.com/material-components/material-components-web-react/blob/efbd849f5587d6a6fc2aa50303d3d4996fc76240/packages/text-field/helper-text/index.tsx#L133) pulls the classes from `this.classes`. [`this.classes`](h

[2019-03-15 04:23] TroyTae commented on #301
Is there some bug replay code?
I test like this:
https://drive.google.com/open?id=17OgCyy24BA9j16utns3pADIx7Dird9Z9

[2019-03-15 04:38] moog16 commented on #301
I actually don't think you have the ripple on there. Although I the video might be missing some frames. Can you confirm this?

[2019-03-15 14:56] SandHilt commented on #731
@moog16 Why ``input:any`` ?
https://github.com/material-components/material-components-web-react/blob/52eeb522d2779562a1d679a0a552c76148016174/test/screenshot/text-field/refTest.tsx#L17

Because it could not be this?
[code]

[2019-03-15 16:37] #628 closed

[2019-03-15 16:37] moog16 commented on #628
Closed with #693

[2019-03-15 16:37] moog16 commented on #500
Closed with #693

[2019-03-15 16:37] #500 closed

[2019-03-15 17:05] #703 closed

[2019-03-15 17:29] moog16 commented on #731
There is a bug in text-field/index.tsx. I think we have the typings incorrect here:
[code]

Ideally the actual typing should be `init: React.Ref<Input<HTMLInputElement>>`

[2019-03-15 22:33] moog16 opened #753 "Allow innerRef on all components"
RE https://github.com/material-components/material-components-web-react/pull/749/files#diff-372bd821ca2bda6bac6cc5647245cab3R202

I'm a fan of this pattern and passing on the ref to developers, as the components should not take away this ability. TextField, Select, Radio, etc. are all good examples of why refs are needed. It would be great to make this into a utility function and share this across

[2019-03-16 01:01] TroyTae commented on #301
https://material-components.github.io/material-components-web-catalog/#/component/chips
Does MCW has same issue?
I can see that Ripple is appied my video and MCW example.
But when no leading icon Filter Chips, but ripple doesn't spread from clicked point.

[2019-03-17 10:50] fawsibamotor commented on #700
very good

[سیبا موتور](http://www.faw-sibamotor.com)

[2019-03-18 18:57] moog16 commented on #301
Actually it looks like the chips catalog page isn't working. I think this is an existing bug.

Regarding the filter input chips it looks like the ripple isn't completely working in the React screenshot tests. So this is still most likely a bug.

<img width="313" alt="Screen Shot 2019-03-18 at 11 55 46 AM" src="https://user-images.githubusercontent.com/579873/54555904-efd10e00-4974-11e9-8e6c-978e33

[2019-03-18 22:08] moog16 commented on #746
@dawsonc623 yes you're totally right! `classes` should be using `this.state.classList`, which is a bug. I believe the reason for leaving `foundation.setValidation` out is because MDC Web's helper text only adds/removes classes. However MDC React should be using all the foundation methods and implementing all the adapter methods. If we don't, there should be a good reason. We will be updating text-

[2019-03-18 22:09] moog16 commented on #746
Also RE isValidationMessage & validation: I think we might also have a bug open for this, and I will remove one or both of them to make this more clear.

[2019-03-18 22:33] dawsonc623 commented on #746
Awesome! Thank you for taking a look, and if I can help in anyway let me know. I am more than happy to contribute in any capacity I can.

[2019-03-18 22:44] moog16 commented on #746
Thanks for the offer. I will definitely let you know. We are currently waiting to convert the dependencies (line-ripple, notched-outline, floating-label) before we can actually dive into text-field and the auxiliary components. I will follow up once we're there.

[2019-03-19 08:39] HellPie opened #759 "feat(material-icon): Allow custom icon styles"
I discovered recently Google provides icon fonts for not just the standard icon set but also for the `outlined`, `sharp` and other variations listed on https://material.io/icons. All these require adding a custom suffix to the classic CSS class `material-icons` that is by default applied on the [`MaterialIcon`](https://github.com/material-components/material-components-web-react/blob/rc0.11.0_real

[2019-03-19 11:21] TroyTae commented on #301
![스크린샷 2019-03-19 오후 8 05 27](https://user-images.githubusercontent.com/20078201/54601862-76741100-4a83-11e9-907c-e065267a4f14.png)
I cannot sure that our thought same.
I think material-components-web-react and material-components-web had same issue.
That is chip's ripple can't calculate clicked point and style variable "translate-start" has NaN.
Is your idea the same?

[2019-03-19 18:29] moog16 commented on #707
fixed by #708

[2019-03-19 18:29] #707 closed

[2019-03-19 19:34] moog16 commented on #301
Ah you're correct - I thought that was working yesterday when I checked. That specific issue must be a MDC Web issue then. We cannot confirm if the chips ripple extends to the end of the text bug is fixed without fixing this bug first.

I confirmed this with this [codepen](https://codepen.io/moog16/pen/MxqbRY).

[2019-03-19 19:35] moog16 commented on #301
@TroyTae looks like there is already an MDC Web issue for it: https://github.com/material-components/material-components-web/issues/2812

[2019-03-19 23:26] moog16 commented on #759
@HellPie can you provide an example of what the API might look like for MaterialIcon? I think I understand what you're saying, but I'd like to hear your thoughts.

[2019-03-20 19:04] dawsonc623 opened #763 "List Item Steals Focus After Selection"
While running through potential use cases for a filtered list component I am working on, I found a strange bug. Rather than explain it, I figured showing it would be better:

https://codesandbox.io/s/32788k0p5q

Follow these steps:

1. Enter "little" into the text field.
2. Press tab, then use the down arrow to highlight "Three Little Code Bugs"
3. Press enter - everything should clear (this is in

[2019-03-20 21:11] HellPie commented on #759
Ideally I'd love to see it one day look like `<MaterialIcon filled sharp />` or `<MaterialIcon rounded />` but sadly the icons don't allow mix and match since fill styles and border styles are mutually exclusive when picking the shapes, so I'm not sure, I guess a property like `iconStyle="filled|round|outline|sharp|duotone"` where `filled` is default and the names are taken from the CSS class name

[2019-03-21 01:14] moog16 commented on #759
Gotcha, that is what I was thinking as well. So something along the lines of
[code]

This is a reasonable request. I'll leave this issue open to get to it. Not sure when we will have the bandwidth.

[2019-03-21 17:45] moog16 commented on #763
@dawsonc623 I think what is happening is the `focusListItemAtIndex` in the List component remains with the index `2` when it is hidden. You can see the `focusListItemAtIndex` property in the screenshot below:

<img width="255" alt="Screen Shot 2019-03-21 at 10 42 30 AM" src="https://user-images.githubusercontent.com/579873/54773096-0fab4080-4bc6-11e9-82ba-06bc0466b421.png">

In the MDC Web v1 upda

[2019-03-22 00:58] heliocosta opened #765 "List works only with a CSS but not SASS"
CSS works fine, but If I use SASS, this is the error:

[code]

CODE:

[code]

[2019-03-22 11:57] HellPie commented on #759
Well, doing it like that is the ideal choice, but I'm not sure how it would work out for people considering there are technically 2 groups of styles:
- Borders:
    - Normal
    - Sharp
    - Round
- Fills:
    - Filled
    - Two-tone (50% alpha on the fill, 100% solid border)
    - Outline (no fill)

And the Material Design Icons only allows these to exist:

|      | Normal | Sharp | Round |
| --

[2019-03-22 13:03] heliocosta commented on #730
Hi @moog16

I've created this repl.it with the code: https://repl.it/@heliofc/QuintessentialDeadRay

[2019-03-22 17:55] alvaroarenas commented on #745
Please fix the documentation in npmjs to the right version

[2019-03-22 18:57] moog16 commented on #759
@HellPie no need to apologize! Thanks for using so much detail. I'd rather us agree on a logical contract of the API before you dive in and build something I don't really understand/don't agree with.

So based off your table there is:
1. filled
1. filled sharp
1. filled round
1. two-toned
1. outline

Is that correct? And you're saying if we could use the `iconStyle` prop, that it would keep the co

[2019-03-22 20:00] HellPie commented on #759
I feel like that would be the ideal thing to do in most situations, I'm not sure about the exact names to use, since the material.io website uses Two-tone but the CSS selector in the font styles is `duotone` but that is a very minor detail.

[2019-03-22 20:10] moog16 commented on #745
@alvaroarenas I've switched it back to master, as I suspect more people are looking at the docs than opening PRs. Is this what your request is?

[2019-03-22 20:12] moog16 commented on #759
I think the best thing to do is use what is on material.io. A lot of people find confusion with inconsistencies with our documentation across different resources (ie. material.io and our github readmes).

I'm on board with this change if you'd like to take a stab at it. Otherwise I have to put this in the "icebox" until we have time to get to it.

[2019-03-22 20:15] HellPie commented on #759
I'm still learning how JSX and TypeScript work, I might be able to get working on much sooner than I expect it, TypeScript turned out to be quite easy to understand. I'll open a PR hopefully tomorrow

[2019-03-22 20:33] moog16 commented on #759
oh wow! sounds good...we can work from there :)

[2019-03-22 21:03] moog16 commented on #765
@heliocosta are you using CRA? Or is this within the screenshot testing environment? I think you might not have something installed or configured correctly. Is this the first time you've tried running these?

[2019-03-22 21:32] moog16 commented on #730
@heliocosta I couldn't get the repl.it to work, but I did create a CRA to test it. Did you find all those css rules from https://google.github.io/material-design-icons/#icon-font-for-the-web? I think those docs are very old, and we've contacted the fonts team to update it.

In the meantime as a workaround you could go to https://material.io/tools/icons/?style=baseline, and download the SVG icons.

[2019-03-23 00:30] moog16 opened #768 "MDC Web v1 Update List issue with classes/attributes"
related #697

The list update has been merged into feat/mdcweb-typescript-update branch. This version has a bug that has issues with tracking the className and attributes.

Steps to reproduce:

1. start screenshot tests
1. go to list screenshot test
1. click on selected list item (first list)
1. click on selected list item again (first list)

result: list item is unselected. In MDC Web, the list r

[2019-03-25 14:57] hronro opened #772 "<Dialog /> is not a controlled component"
Example:

[code]

When I click the mask, the dialog still closed.

According to the [React docs](https://reactjs.org/docs/forms.html#controlled-components), just like the native input element in React, `<input type="text" value={this.state.value} onChange={this.handleChange} />`, when you try to type something in the input element, this would trigger onChange event, but if you don't change `this.s

[2019-03-25 19:35] moog16 commented on #772
Thanks for opening this issue. I realize that this and other components in this library do not follow the controlled component pattern. This repo's main goal is to implement the foundation/adapter pattern of MDC Web.

RE: When `onClose` is called. Are you saying you do not expect the `onClose` method to be called on a mouse click/keyboard event?

[2019-03-26 02:56] foisonocean commented on #772
@moog16 No, I'm saying when users click to close the dialog, this would only trigger the `onClose` method, but not close the dialog directly. The dialog is finally closed or not is only depend on the prop `open` is changed or not.

[2019-03-26 09:52] lucasecdb commented on #654
I think this can be closed, right? @moog16

[2019-03-26 18:42] moog16 commented on #772
@foisonocean ahhh gotcha - I understand what you're saying now, sorry for the confusion. I do see how this breaks that pattern as you describe, especially when thinking of the `onChange` method on a input type='text'. I do not have time to get to this until after April (if that). Would you or anyone else like to take a stab?

[2019-03-26 18:45] moog16 commented on #654
@lucasecdb - YES, thanks for the reminder.

[2019-03-26 18:45] #654 closed

[2019-03-26 18:48] moog16 commented on #731
Closing as this has gone stale. If you are still having issues. Please open again.

[2019-03-26 18:48] #731 closed

[2019-03-26 18:49] moog16 commented on #732
Closing since #735 is in v0.11.0

[2019-03-26 18:49] #732 closed

[2019-03-26 18:54] moog16 commented on #759
@HellPie - I just emailed the lead on the icon-fonts team. He actually said this isn't a public feature that is well supported. Color should actually be coming out in the next coming weeks to a month. I will be closing this issue as its not related to MDC React.

[2019-03-26 18:56] moog16 commented on #730
@heliocosta the different icon font variants is a new feature and doesn't have color capabilities yet. As this isn't a MDC React issue I am going to close it. We hopefully should see color customization for variants within the next month.

[2019-03-26 18:56] #730 closed

[2019-03-26 21:58] moog16 commented on #729
Using componentWillUnmount in listItem, closing this issue

[2019-03-26 21:58] #729 closed

[2019-03-26 22:01] moog16 opened #775 "ListItem.props.onDestroy doesn't correctly remove listItemClassName"
Steps to repro:
1. Go to List screenshot test (One-line Selection List)
1. Delete 2nd list item (selected list item)

Result:
There is still a selected list item.

Expected:
There should be no selected list item since we deleted it.

NOTE:
I believe this is an issue with React. I filed an issue with them https://github.com/facebook/react/issues/15217.

[2019-03-27 00:47] moog16 commented on #775
Not an issue - just an issue with the way I created keys in the screenshot tests.

[2019-03-27 12:32] heliocosta commented on #765
Hi @moog16 - Yes, I'm using CRA. I've used other components and works fine. Only this one has this issue.

[2019-03-27 14:32] gugu commented on #697
material-icon has no dependency on mdc-web

[2019-03-27 17:00] moog16 commented on #765
What about version are you using for list?

[2019-03-27 17:52] #775 closed

[2019-03-27 19:58] dawsonc623 opened #781 "Interface 'ButtonProps<T>' cannot simultaneously extend types 'AnchorHTMLAttributes<T>' and 'ButtonHTMLAttributes<T>'"
Due to a [change in `@types/react`](https://github.com/DefinitelyTyped/DefinitelyTyped/pull/34194), the definition of `ButtonProps` does not work anymore. I have not dived into exactly what it would take to fix it, but the only workaround there is right now is for users to stick to `@types/react@16.8.8` or lower in their project's dependencies.

[2019-03-27 20:05] dawsonc623 commented on #772
@foisonocean If you have not started working on this, I can take a look.

[2019-03-27 20:31] moog16 commented on #772
I've also noticed this the controlled component pattern is not working in checkbox either...I haven't checked, but this is probably not the case in many of the other components.

@dawsonc623 if you start working on this, this will be a BreakingChange. I think this should be opt-in for the first two months, with a console.warning that says we're going to deprecate. Does that make sense? Similar to

[2019-03-27 20:59] dawsonc623 commented on #772
@moog16 That makes sense. Opt-in might be a little tricky - do we just want to make it so if `open` is present the component is "controlled" otherwise it behaves as it does today? Apart from adding a temporary prop (which I want to avoid if possible) I am not sure how we could retain the way `open` and `onClose` work today and still know when the user expects the component to be controlled.

[2019-03-27 21:11] dawsonc623 commented on #763
@moog16 Ah, alright. It is worth noting that in my example code I do try to circumvent the issue by setting `selectedIndex` to `undefined`, but that did not make a difference.

I am not sure if the foundation component handles this, but similar to the discussion on [this Dialog issue](https://github.com/material-components/material-components-web-react/issues/772) having `selectedIndex` and `handl

[2019-03-27 21:18] HellPie commented on #759
I hope it makes it out to the public soon enough then, it's hard to tell when Google releases things because either it's an A/B experiement, a slip up or they just didn't bother to tell anyone, which is kind of sad.
Also the issue is still open idk if you meant to do that.

[2019-03-27 23:01] moog16 commented on #772
Ya - I think the only way we could do that is with a temporary prop...If we have that, people could slowly migrate over. Its not the best, but its the simplest thing I can think of. I also don't want to break people that have been using this component, and they should be given ample time to upgrade. So let's go with the temporary prop. Could you make sure to comment next to it and open an issue to

[2019-03-27 23:03] moog16 commented on #759
I actually meant to keep this open (I got confused with another one). This should eventually be worked on when the icon fonts team has it public. Thanks :)

[2019-03-27 23:04] moog16 commented on #763
I actually fixed this in the List PR https://github.com/material-components/material-components-web-react/pull/776. This should be released with the rest of the MDC Web v1 updates.

[2019-03-27 23:20] moog16 commented on #772
@dawsonc623 please be advised @gugu is updating dialog: https://github.com/material-components/material-components-web-react/pull/779/files. You might want to branch from this branch as his code might get in before yours. I'm not sure how quickly you'll finish.

[2019-03-27 23:39] dawsonc623 commented on #772
@moog16 I saw that. I plan on branching off of that branch, and if I happen to finish before that gets merged in we can just wait to merge mine until that one is in. That work is already done, so I do not want to risk mucking up that PR with my work.

[2019-03-28 00:29] moog16 commented on #772
Cool - Sounds good!

[2019-03-28 08:06] troywarr opened #782 "When nested within a <p>, checkbox component's <div> wrapper causes react-dom to trigger a validateDOMNesting warning"
The [checkbox component](https://github.com/material-components/material-components-web-react/tree/rc0.12.0/packages/checkbox) uses a [`<div>` wrapper](https://github.com/material-components/material-components-web-react/blob/rc0.12.0/packages/checkbox/index.tsx#L180), which causes `react-dom` to display a `validateDOMNesting` warning when the component is nested within a `<p>`.

Here's an example

[2019-03-28 08:28] ben-mckernan commented on #781
The easy fix would be to change it to use `HTMLProps` like it is done in icon-button.
https://github.com/material-components/material-components-web-react/blob/rc0.12.0/packages/icon-button/index.tsx#L45-L46

A more complex approach would be to have a conditional generic like what is done for input in text-field.
https://github.com/material-components/material-components-web-react/blob/rc0.12.0/pa

[2019-03-28 20:47] heliocosta commented on #765
"@material/react-list": "^0.11.0",

[2019-03-28 21:08] moog16 commented on #781
@ben-mckernan yes you're spot on. It should be extending HTMLProps instead of HTMLAttributes. text-field has a good example of this.

I'm not sure what the exact issue is with extending both button and anchor, but conceptually you can't be both at the same time (so this doesn't make sense). If someone would like to open a PR updating the types feel free.

[2019-03-28 21:14] moog16 opened #783 "DialogButton Readme example not accurate"
An internally reported issue regarding the first example in the dialog readme:

isDefault does not work on Accept, but instead appears on Dismiss.

[code]

[2019-03-28 22:04] moog16 commented on #782
@troywarr thanks for opening the issue. This definitely seems to be a valid use case, and thus we should support it.

We already have a pattern that should fix this with the `Tag` prop. See [Dialog](https://github.com/material-components/material-components-web-react/commit/555e61f3f7667de189ba7df62e2666eb6908eba4#diff-e7cc61ab2bcde3710fbea0e78b8df6a2R43) to get a better understanding of the patte

[2019-03-28 22:49] moog16 opened #784 "Drawer use with Styled-Components"
In order to use styled components with the drawer component, an internal user stated they needed to use createPortal for this to work. See https://gist.github.com/majames/67d3c4b262dde7534315a7590b3db0d7. I believe this is because of the sibling selectors within drawer's scss, but I'll have to investigate more.

[2019-03-28 22:54] moog16 opened #785 "All components with events should follow the controlled component pattern"
Similar to text-field, all components with events should follow the [controlled component pattern](https://reactjs.org/docs/forms.html#controlled-components). This gives the developer more control over the state of the component. This should also simplify some of the component's logic surrounding events.

- [ ] checkbox
- [ ] dialog
- [ ] chips
- [ ] IconButton
- [ ] drawer

related #772

[2019-03-28 22:54] moog16 commented on #772
I opened https://github.com/material-components/material-components-web-react/issues/785 to eventually follow up on the others as well.

[2019-03-29 12:46] gugu commented on #697
![image](https://user-images.githubusercontent.com/75169/55233034-4f160480-5238-11e9-9a64-25a30a55ebe4.png)
Bundle size before: 1.74 Mb from material-web
![image](https://user-images.githubusercontent.com/75169/55233334-5ab5fb00-5239-11e9-81ee-ce7b5ec6f45a.png)
Current bundle size: 960 kb from material-web and we can save 560 kb more

[2019-03-29 16:50] moog16 commented on #697
Are you saying by updating to the latest, we're cutting ~70%??

[2019-03-29 17:20] gugu commented on #697
Yes. That's why I'm working on it - I want to reduce bundle size

[2019-03-29 17:25] gugu commented on #697
But it is mdc-web only, @material/react-* will have the same size

[2019-03-29 18:12] moog16 commented on #697
Right right - it must be the tree shaking feature that we added in v1. Then hopefully we can get back to the all-in-one package. Also I really appreciate your work on this!

[2019-03-30 01:07] lucasecdb commented on #785
drawer too, right?

[2019-03-30 03:55] moog16 commented on #785
@lucascdb drawer too yes!

[2019-03-30 13:59] dawsonc623 commented on #772
@moog16 I have been running through the flow of how `Dialog`s are closed, and this is an interesting case. The challenge here is that there is no way to "cancel" a close; once the foundation object knows about the `close` interaction occurring, unless `escapeKeyAction` or `scrimClickAction` are set to empty strings the `Dialog` will close. There is not really anything the React component can do to

[2019-03-31 09:32] gugu commented on #697
Is there anything left with:
1. snackbar, button, tab-bar (I did not find changes)
2.  layout-grid - last released version is v0.41

[2019-04-01 17:43] moog16 commented on #697
- I think you updated tab-bar already
- and you're right - snackbar was developed during v0.43.0, which is when the breaking change was introduced.
- this leaves notched-outline, text-field, select (I'm working on it), button (I opened the PR), and icon-button (@ben-mckernan).

We're looking good to go for releasing in v0.12.0!

[2019-04-01 17:45] gugu commented on #697
I'll start text field in this case. Notched outline is changed, but textfield needs to be changed as well to support it correctly

[2019-04-01 17:46] moog16 commented on #697
correct...text-field will take a bit of time I'm sure. Once that is done, we should update all the other packages @v1 --> v1.1.0 or v1.0.1 (whatever is latest).

[2019-04-01 18:10] moog16 commented on #785
Closing for

[2019-04-01 18:33] moog16 commented on #772
@dawsonc623 I'll have to bring this up during our issue triage if it requires MDC web changes. This would also be a pattern change, since there are no cancellable events in Web. And I do agree that it would be a lot nicer to not have to duplicate logic.

RE Windows: We have no confirmed reports of anyone developing on windows. It would great to get some documentation if you get it up and running.

[2019-04-02 14:47] Jason3S commented on #781
The issue is with the `type` property in both interfaces. They are not of the same type, so extends doesn't know how to merge them.

[2019-04-02 15:44] heliocosta commented on #765
For some reason now, it's working. Not sure what I have done TBH.

Thanks for the help anyway, @moog16 .

[2019-04-02 16:59] moog16 commented on #765
ya np! Glad its working :)

[2019-04-02 16:59] #765 closed

[2019-04-02 17:30] moog16 commented on #781
Right but this only works for the Button case...if you were using the anchor tag you would need to change this. This issue is to make sure developers can import ButtonProps and it works for both cases. :)

[2019-04-02 18:17] moog16 opened #793 "addClass and removeClass implementation should be consistent across all components"
There are currently 2 different implementations of removeClass:

[code]

AND

[code]

The difference being creating a `new Set()`. We should not be altering state directly, which is why we create `new Set`. addClass should also follow this pattern.

Related https://github.com/material-components/material-components-web-react/pull/792/files#r271249191

[2019-04-02 19:49] ben-mckernan commented on #793
To avoid mutating the current state and possible async issues I would write it like:
[code]
Same for `addClass`, like you mentioned.

[2019-04-02 21:38] moog16 commented on #793
Ya we have that in some places. What is the benefit of that syntax vs
[code]

[2019-04-02 22:02] ben-mckernan commented on #793
It avoids the problems that arise from how react batches state updates. For example if `removeClass` is called twice in a row only the last call would have an affect, since it would override the first.

In my example, the previous state is taken into consideration. A better name for that variable in this scenario could be `currentState`.

[2019-04-04 18:10] evankim390 opened #795 "Dialog and drawer have different focus-trap dependency versions."
[Drawer depends on ^3.0.0](https://github.com/material-components/material-components-web-react/blob/rc0.12.0/packages/drawer/package.json)
[Dialog depends on ^4.0.2](https://github.com/material-components/material-components-web-react/blob/rc0.12.0/packages/dialog/package.json)

Would it be possible to sync the two packages to the same version? This would avoid pulling in multiple copies of the s

[2019-04-05 16:50] moog16 commented on #795
@evankim390 - yes definitely...I didn't even realize that they were different, but I know how mismatched npm modules can break you environment. Would you be will to open a PR against rc0.12.0?

[2019-04-05 16:54] moog16 commented on #772
@dawsonc623 I haven't forgottten about this...we have a meeting today with the team to discuss. :)

[2019-04-05 18:12] moog16 opened #796 "menu add selection group support"
The current implmentation of mdc react menu does not have support for the [selection group variant](https://github.com/material-components/material-components-web/tree/master/packages/mdc-menu#selection-group-menu).

[2019-04-05 20:49] moog16 commented on #772
@dawsonc623 - we had a discussion about MDC Web issue #4357 and this issue. I was wondering if you have any bandwidth to experiment with your proposed solution. We liked your #2 idea, but we aren't sure how it will pan out. Let us know :)

[2019-04-05 22:47] evankim390 commented on #795
Sure thing https://github.com/material-components/material-components-web-react/pull/797

[2019-04-05 23:05] dawsonc623 commented on #772
@moog16 I am more than happy to dig into it. I will experiment and let you know how it goes (with any luck in PR form :) ).

[2019-04-07 02:07] SandHilt opened #798 "Why TabBar arrow dont show in desktop?"
I'm using react-tab-bar inside of react-top-app-bar.

![image](https://user-images.githubusercontent.com/6170125/55677558-90558680-58c0-11e9-9acd-9c7734f8aa73.png)

But don't show this indicator in desktop.
![image](https://storage.googleapis.com/spec-host-backup/mio-design%2Fassets%2F1jpIMFm45lawJ7dAGwgbw4rkvUWnRp0oB%2Ftabs-paginated-01.png)
source: https://material.io/design/components/tabs.html

[2019-04-07 06:33] WhoseSomebody opened #800 "Masked Input for Text Field"
Hello everyone!

Firstly, I was looking for an elegant way of adding mask to `Input` from this lib, but didn't find anything about it. So I decided to try to use third-party libs.

As I was already working with [react-text-mask](https://www.npmjs.com/package/react-text-mask), I decided to use it.
So, I replaced `Input` with `MaskedInput`:
[code]
where `rest` contains
[code]

But I faced a problem:

[2019-04-08 09:05] ben-mckernan commented on #798
Probably because it is not implemented in material-components-web which this library is based on. See: material-components/material-components-web#3716

[2019-04-08 17:09] moog16 commented on #401
Closing for #771

[2019-04-08 17:09] #401 closed

[2019-04-08 17:14] moog16 commented on #795
Closing for #797

[2019-04-08 17:14] #795 closed

[2019-04-08 17:17] moog16 commented on #772
Sweet! LMK if you need any help with anything. Feel free to ping me here or on our discord channel.

[2019-04-09 02:02] moog16 commented on #800
So floating label triggers on `this.props.value`. It needs to have a length. Can you just pass it a dummy value if you're masked value is set?

[2019-04-09 02:04] moog16 commented on #798
Correct, this is one of the last feature of tabs that hasn't been implemented from the original version. If you need the scroll bars, you could wrap material-components-web's [mdc-tabs](https://github.com/material-components/material-components-web/tree/master/packages/mdc-tabs). It is deprecated, but won't be officially until we implement it in the new material tabs.

[2019-04-09 02:04] moog16 commented on #798
Closing since its an mdc web issue.

[2019-04-09 02:04] #798 closed

[2019-04-09 02:50] TroyTae commented on #301
@moog16
Fixed on https://github.com/material-components/material-components-web/pull/4565

[2019-04-09 06:04] WhoseSomebody commented on #800
Thanks for reply.
Which `value`? For `TextField` or for inner `MaskedInput`?
I try to update in all of them, but no luck.. and how's about trigger on `TextField` click (when we have an active input)?

[2019-04-09 06:35] WhoseSomebody commented on #800
Okay.. I found one pretty ugly method which works
![image](https://user-images.githubusercontent.com/5785260/55777896-ea7a6580-5ad3-11e9-9463-ab9556b88463.png)
[code]

[2019-04-09 16:50] moog16 commented on #800
So the Input and the TextField need to have a direct child/parent relationship. We have a work around, which includes using ReactContext, but we haven't had time to fix that yet. You won't be able to wrap the `<Input>` component without some trickery.

[2019-04-09 16:52] moog16 commented on #301
Cool! Looks like its in [v1.1.1](https://github.com/material-components/material-components-web/blob/master/CHANGELOG.md#111-2019-04-08). Let's update chips to v1.1.1 in the feat/mdcweb-typescript-update branch.

[2019-04-10 11:47] WhoseSomebody commented on #800
Okay, I see..
So no way to hide the error?

[2019-04-10 16:39] moog16 commented on #800
Sorry - not as of right now. If you'd like to implement the text-field and input using react.context we would love the contribution. We do recognize it is no small feat. But you can see my current working branch for menu. You can try to follow [this commit](https://github.com/material-components/material-components-web-react/pull/786/commits/c605cef9d080036f5335e33ef144bf9e44947a49#diff-9e4ae056e8

[2019-04-10 22:05] moog16 commented on #793
FYI - I just ran into this issue in the enhanced select (which I'm currently implementing). It happens on the foundation.handleBlur call, where removeClass is called twice. This fixed it!

[2019-04-11 01:46] ALMaclaine opened #802 "Remove MDCTextfield Constant External"
The webpack config still lists MDCTextfield constants as an external [here](https://github.com/material-components/material-components-web-react/blob/rc0.12.0/packages/webpack.config.js#L115).

But the constant import was removed [here](https://github.com/material-components/material-components-web-react/commit/3b3a0ab).

[2019-04-11 16:09] #802 closed

[2019-04-11 16:29] seriema opened #805 "text-field: dense does not shrink the height"
Adding the `dense` prop to a text field component doesn't change the visual of the component. The Material guidelines mention it clearly (see "Dense text fields" under ["Filled](https://material.io/design/components/text-fields.html#filled-text-field) and ["Outlined"](https://material.io/design/components/text-fields.html#outlined-text-field)) but the mdc-textfield has deprecated it and it's going

[2019-04-11 16:31] moog16 commented on #805
Yes, however the dense class is still available for devs to use. So we still should be supporting it until MDC Web actually removes it. We can however update our docs to reflect that it may/may not be deprecated.

[2019-04-11 16:32] seriema commented on #805
It does not work so then it should be fixed?

[2019-04-11 16:35] seriema commented on #805
It's also not available in the demos:
https://material-components.github.io/material-components-web-catalog/#/component/text-field

[2019-04-12 21:51] moog16 commented on #301
Closing for #804

[2019-04-12 21:51] #301 closed

[2019-04-12 22:27] ZeJ0hn opened #808 "TestFields are horizontally aligned by default"
Hello,

I use TextField to create a Form and compare to the default behavior of a form, the textfield are horizontally aligned.
This is because the `mdc-text-field` class has a `display: inline-flex` property.

So, why is it like this by default ? and why the display is not block or inline-block by default ?

Thank you

[2019-04-13 14:00] gugu commented on #392
Do you use Checkbox with ripple or without? Removing ripple effect makes it much faster

[2019-04-16 00:05] moog16 opened #811 "Use React Context to pass props to <Input> from <TextField>"
- `<TextField>` could use React.createContext to pass props and functions to `<Input>`
- the purpose of this is so that users can add wrappers around `<Input>`, such as styled-components
- related #800

[2019-04-16 00:05] moog16 commented on #800
Closing for https://github.com/material-components/material-components-web-react/issues/811

[2019-04-16 00:05] #800 closed

[2019-04-16 04:55] TroyTae commented on #697
@gugu
Oh my god, are you already start to update text-field?
If you already working on it, I'll close this PR(https://github.com/material-components/material-components-web-react/pull/812).

[2019-04-16 08:00] gugu commented on #697
No, I don't

[2019-04-16 19:19] SUCHITAPHON commented on #811
A47A1A2E

[2019-04-17 02:45] moog16 commented on #805
I'm not quite sure what you mean that there is no visual difference. If you add the prop `dense` to the textField component, it addes the --dense class, which updates the styles. This can be seen in the stackblitz [here](https://stackblitz.com/edit/react-eeyij6?file=TextField.js).

[2019-04-17 16:28] traviskaufman opened #813 "Select does not resize its outline in a fluid-width layout"
When using `<Select outlined />` with a fluid width, the outline does not appear to resize if the dimensions of the viewport change. This makes the UI appear broken. The styles / DOM also seem to be out of date with [the latest version](https://material-components.github.io/material-components-web-catalog/#/component/select)

[2019-04-17 16:30] traviskaufman opened #814 "Select uses `ref` as a prop which does not allow access to component instance"
[this code](https://github.com/material-components/material-components-web-react/blob/rc0.12.0/packages/select/index.tsx#L203) appears trigger a React warning: `Select: `ref` is not a prop. Trying to access it will result in `undefined` being returned. If you need to access the same value within the child component, you should pass it as a different prop`

[2019-04-17 16:48] moog16 commented on #814
How is that being triggered? What are your steps to repro? Are you trying to use a ref on the `<Select />` element?

[2019-04-17 17:14] moog16 commented on #813
Are you using the React Select and seeing this happen, or are you specifically referencing an issue on the catalog?

MDC React's select doesn't utilize the foundation.layout method, which could be the root cause of your issue.

[2019-04-17 17:38] traviskaufman commented on #813
I'm using the React select and seeing this happen; it doesn't appear to be an issue in the catalog. I think you're right in that that's the root cause. I tried accessing the foundation directly via `ref` but I was unable to (hence #814). Thanks for the quick reply!

[2019-04-17 18:11] moog16 commented on #813
Gotcha - We're actually rewriting select with the enhanced version. I'll leave these two PRs open, and include fixes for them in the rewrite. When they're merged into master we can close these.

Thanks for opening!

[2019-04-17 19:05] TDKRage opened #815 "TopAppBar not reappearing on Scroll up;"
Trying to use a Standard TopAppBar that is invisible once scrolling down and visible once scrolling up or at the top of the page.

Implementation:
[code]
I can see that a style of _top: -128px_ is being applied once scrolling down.

[code]

but once i scroll up to the top of the page the style is not being removed.

Thanks.

[2019-04-19 20:59] moog16 commented on #772
@lucasecdb shared an interesting article highlighting patterns that should be avoided (which I agree with). [Dan explains](https://overreacted.io/writing-resilient-components/#principle-2-always-be-ready-to-render) that we shouldn't have state within props, which should result in a controlled component. I just wanted to share this for reference when we get to this.

[2019-04-19 22:31] moog16 commented on #815
can you provide a stackblitz of your issue? It seems to be working in our screenshot tests.

[2019-04-22 17:28] moog16 opened #817 "Text-Field Character Count"
Text field is missing the character count feature introduced in 0.44.0.

[2019-04-23 14:35] rustemgareev commented on #594
I'm using the latest version of `@material/react-drawer` (0.11.0) and still having this issue on my SSR project (built using [Next.js](https://github.com/zeit/next.js/)). I tried to add `resolutions` to my `package.json` as recommended [here](https://github.com/material-components/material-components-web-react/issues/561#issuecomment-468850321) but had no luck. Any chance to get it fixed?

[2019-04-23 16:18] rustemgareev commented on #594
`@material/react-drawer` v0.6.2 works fine though.

[2019-04-23 20:39] moog16 commented on #594
@rustemgareev we haven't updated to the latest mdc web v1. We're currently working on it. Progess is tracked through #697.

[2019-04-24 11:25] seriema commented on #805
By looking at these two text-fields, one cannot see which one has `dense={true}`:
![image](https://user-images.githubusercontent.com/693684/56655715-df0e6900-6693-11e9-9548-d66c2d1719c2.png)
https://stackblitz.com/edit/text-field-dense?file=TextField.js

The font changes slightly on the placeholder label, but the text field height remains the same. `dense` having the same height isn't what I'd exp

[2019-04-24 17:08] TDKRage commented on #815
@moog16  Thanks for your response! I think i just needed to update the lib, Everything works now. Closing

[2019-04-24 17:08] #815 closed

[2019-04-25 04:35] moog16 commented on #805
The MDC web team has been talking about deprecating dense altogether. So I'm fine removing dense. We can keep this issue open, however I'm not sure when we will prioritize it. Please feel free to open a PR until then.

[2019-04-25 04:48] moog16 commented on #815
Cool thanks for following up!

[2019-04-27 02:43] derektumulak commented on #165
I've just run this this issue with some of the fields that I'm using. I'm a bit of a newbie and wondering what the best way is for me to resolve this. Are there any recent best practices?

Thanks in advance!
-Derek

[2019-04-27 16:56] moog16 opened #822 "List implement adapter.getAttributeForElementIndex"
Missing adapter method from update to mdc web v1.0.0

[2019-04-29 14:39] TroyTae opened #827 "Refactor literal class name to constants"
- [x] Button (#838)

- [x] Card (#839)

- [x] Checkbox (#982)

- [x] Chips (#982)

- [x] Drawer (#982)

- [x] Fab (#844)

- [x] FloatingLabel (#845)

- [x] IconButton (#982)

- [x] LayoutGrid (#846)

- [x] LineRipple (#983)

- [x] LinearProgress (#983)

- [x] List (#983)

- [x] MaterialIcon (#983)

- [x] Menu (#983)

- [x] MenuSurface (#983)

- [ ] NotchedOutline

- [x] Radio (#983)

- [x] Select

[2019-05-02 14:11] quic5 opened #837 "SelectIcon not working"
I get the following error when i try to import

[code]

I'm using create-react-app with typescript

Any ideas? Is there a bug or am I making a mistake?

[2019-05-02 15:05] yevhen-ctbto opened #841 "Warning while using TypeScript"
By using TypeScript i get warning that some props is required which are not in official documentation.

![image](https://user-images.githubusercontent.com/46522933/57085452-8165c680-6cfc-11e9-997b-8fb5549300e9.png)

[2019-05-02 15:14] moog16 commented on #841
Someone already opened a PR for a fix: https://github.com/material-components/material-components-web-react/pull/810. Just waiting on fixing tests.

[2019-05-02 18:47] moog16 commented on #837
@quic5 CRA doesn't come with typescript by default out of the box. You might need to setup Typescript. Try that out and let us know how that works.

[2019-05-03 12:23] quic5 commented on #837
@moog16 it does [https://facebook.github.io/create-react-app/docs/adding-typescript](https://facebook.github.io/create-react-app/docs/adding-typescript)

[2019-05-03 12:34] Fa-So opened #847 "<Input> disable in <TextField> not working"
I get the following error when i toggle  disable <TextField> input:
[code]

[This is sample code:](https://codesandbox.io/s/92n2v7oyy4)

[code]

[2019-05-03 16:05] TroyTae commented on #847
@Fa-So
Thank you for find this issue!
I'm fixing on it.

[2019-05-03 17:18] moog16 commented on #847
Thanks for hoping on the fix @TroyTae - what is the actual root cause?

[2019-05-03 18:02] moog16 commented on #785
@lucasecdb drawer actually follows the controlled component pattern.

[2019-05-03 18:10] lucasecdb commented on #785
it has the API for a controlled component, but it doesn't "respect" it. like, if I don't do anything on the `onClose` callback, the drawer will close anyway, even though the `open` prop is still set to `true`.

[2019-05-03 18:24] moog16 commented on #785
You are right...I checked dismissible, but only removed the `open` prop. Adding it back. Thanks

[2019-05-03 18:53] moog16 commented on #837
It does - but you have to follow those other steps. But it seems like you already tried that? Also have you tried just importing selectIcon like:
[code]

I tried recreating this with a create-react-app, and haven't been able to reproduce.

[2019-05-04 06:23] TroyTae commented on #847
@moog16
https://reactjs.org/docs/refs-and-the-dom.html#caveats-with-callback-refs
See this please :)

[2019-05-04 06:30] TroyTae commented on #847
Maybe we need to consider observer or singleton pattern for preventing like this situation.

[2019-05-04 08:34] quic5 commented on #837
Oh yeah I tried to import SelectIcon from `@material/react-select/icon/index` as the [docs](https://github.com/material-components/material-components-web-react/tree/master/packages/select/icon) suggest it. But form `@material/react-select` it works now. Thank you!

[2019-05-04 08:34] #837 closed

[2019-05-04 12:18] anatolibarski commented on #461
I've been selecting a ui framework and one of the main reasons was this extremely useful expand/collapse functionality. To find out later, that you are not planning to implement the spec...
Any reason why it is not on the roadmap?

[2019-05-04 12:30] Batbold-Gansukh opened #850 "v0.12.0 typescript does not compile."
<img width="865" alt="Screen Shot 2019-05-04 at 8 28 42 PM" src="https://user-images.githubusercontent.com/480945/57178985-3e962100-6eab-11e9-8800-3ac16d02a55c.png">

All of the React import seems to be in wrong format.

It should be:
`import * as React from 'react'`

[2019-05-04 13:39] bat-bold opened #851 "Select should use React.Context for Options/rendering children"
Following does not type check.

[code]

Current definition of `Select`'s children.
[code]
making it broad does solve them problem.
[code]

[2019-05-05 04:23] cpboyd commented on #850
I don't think you want to do that...
`import *` hinders any possible tree-shaking as you're explicitly stating that you want to import everything.

Further, React's own documentation specifies `import React from 'react';`
See: https://facebook.github.io/create-react-app/docs/importing-a-component

[2019-05-05 04:29] cpboyd opened #853 "ClientRect is not defined"
I've noticed that v.0.12 uses `new ClientRect()` in some places...

Well, I've been attempting to implement `mdc-slider` in React, and tried returning a `new ClientRect()` and got a `ClientRect is not defined` error.

Googling took me to: https://github.com/Microsoft/TypeScript/issues/18615

It seems that while TypeScript's typings still have `ClientRect`, Chrome has replaced it with `DOMRect` .

[2019-05-05 06:26] Batbold-Gansukh commented on #850
It seems `esModuleInterop` typescript compiler flag is needed to be enabled. Which is by default disabled.

@cpboyd all of Typescript documentation specifies `import * as React from 'react';`

[2019-05-05 17:05] cpboyd commented on #850
@Batbold-Gansukh Note [tsconfig.json line 12](https://github.com/material-components/material-components-web-react/blob/master/tsconfig.json#L12) in the root directory.

The latest [create-react-app](https://github.com/facebook/create-react-app) creates TypeScript projects with `"esModuleInterop": true` in tsconfig.json and uses `import React from 'react';`

Perhaps Microsoft's documentation is ju

[2019-05-06 15:39] moog16 commented on #165
@derektumulak are you still running into this? A codepen/stackblitz will help in helping you.

[2019-05-06 16:00] moog16 commented on #847
@TroyTae are there other places in MDC React where we use callback refs? Is that what you're referring to?

[2019-05-06 16:00] moog16 commented on #847
Closing with #848

[2019-05-06 16:00] #847 closed

[2019-05-06 16:04] moog16 commented on #850
@Batbold-Gansukh - If you're using our TS files, you will also need to enable `esModuleInterop`. This makes it so that we do not need to import all using the `import *...`. And as @cpboyd said, it is enabled as of the v0.12.0 release.

[2019-05-06 16:08] moog16 commented on #851
It looks like you're adding `(EnhancedChild<T> & EnhancedChild<T>[])[] ` and `(NativeChild | NativeChild[])[]`. I'm not sure if that syntax makes sense, nor does the type match what you have shown in your code snippet copied above. Your snippet should match the type `EnhancedChild<T>[]`.

[2019-05-06 16:10] moog16 commented on #853
@cpboyd - you're correct. These shouldn't have changed. I caught a few cases, but missed these. Would you mind fixing? Otherwise we will try to prioritize for future release. Thanks!

[2019-05-06 17:58] #850 closed

[2019-05-06 18:04] Batbold-Gansukh commented on #851
Typescript's compiler error message:

[code]

Maybe do I need another compiler flag?

[2019-05-06 18:08] Batbold-Gansukh commented on #851
Yes, I miss typed. Instead of:
`(EnhancedChild<T> & EnhancedChild<T>[])[]`
it should be
`(EnhancedChild<T> | EnhancedChild<T>[])[]`

[2019-05-07 02:55] TroyTae commented on #847
@moog16
No no, I just worried when we need to share three or more components each other.
In this case, there are only two components.
I want to say if we have more than three, I think you will need another plan.

[2019-05-07 23:24] kittle31 opened #856 "disabled property on TextField is causing exceptions"
Found a problem when upgrading from 0.8.0 to the current 0.12.0
we have the following use of the TextField component

[code]
where "disabled" is initially true
when the disabled property changes from true to false, an exception is thrown:

[2019-05-08 06:24] TroyTae commented on #856
@kittle31
Thank you for notifying this issue!
This issue is fixed in here. (https://github.com/material-components/material-components-web-react/issues/847)

[2019-05-08 08:31] ben-mckernan opened #857 "import("../ripple") in type declaration files"
There is an issue with the declaration files provided with v0.12.0 where any component that uses the `withRipple` HOC will have a declaration file that includes `import("../ripple")`. This causes our type checks to fail since it can't resolve the relative import.

[code]

The workaround for anyone having this issue is to add `"skipLibCheck": true` to your tsconfig.json

[2019-05-08 16:23] moog16 commented on #841
opened https://github.com/material-components/material-components-web-react/pull/854 after closing #810

[2019-05-08 16:25] moog16 commented on #851
So children could be a list of 1 EnhancedChild? Isn't that just EnhancedChild[]? I don't think that is proper syntax that you have

[2019-05-08 16:46] moog16 commented on #857
@ben-mckernan thanks for opening the issue. This is the `react-button/dist/index.d.ts` file that I imported from 0.12.0:

[code]

I see '@material/react-ripple', but no `../ripple`. Am I looking at the right file that you're refering to?

[2019-05-08 17:34] moog16 commented on #856
I'm going to make a patch release for this - hopefully today. Look out for rc0.12.1 :)

[2019-05-08 17:34] moog16 commented on #856
Going to close this as its fixed in #847 fix

[2019-05-08 17:34] #856 closed

[2019-05-08 17:35] moog16 commented on #841
Closing since #854 is merged

[2019-05-08 17:35] #841 closed

[2019-05-08 21:18] Batbold-Gansukh commented on #851
I don't know.
But typescript compiler complaining about code posted above.

Another problem:
[code]
Compiler error:
[code]

More broad definition needed:
[code]

[2019-05-09 00:02] moog16 commented on #851
This `{Array(10).fill({})` creates 10 empty objects. You don't need to do that.

What if you do:

[code]

[2019-05-09 06:14] ben-mckernan commented on #857
It is not at the top of the file but rather at the end of the second to last line, the line starting with `declare const _default`.

It is cut off in your code snippet. Here is a link to the full file on npm https://unpkg.com/@material/react-button@0.12.1/dist/index.d.ts

[2019-05-09 13:24] Batbold-Gansukh commented on #851
[code]
`NativeChild` is not exported. Event after exporting it does not type check:
[code]

Even more weird, following does not type check:
[code]
But this one does type check by adding `{/**/}`
[code]

screenshots:
https://imgur.com/a/8aMoZVP

repo if you to check:
https://github.com/Batbold-Gansukh/MaterialReactSelect

`npm install`
`npm run compile`

[2019-05-09 17:39] moog16 commented on #851
I actually think that `children` propType should include `null | null[]`.

However `Conversion of type 'null' to type 'ReactElement<OptionProp...` is happening because you're only converting `null`, not the `<Option />`.

[2019-05-09 17:41] moog16 commented on #857
Confirmed. This is actually happening for all components that use the `withRipple()` mixin. I'm not sure why it isn't using the `@material/react-ripple` import path. This is definitely a bug with the types.

[2019-05-10 12:43] hvolschenk commented on #463
I haven't had a look at this in a long time and I am sure a lot has changed.
I will re-open this if I find it again, going to close this _stale_ issue now.

[2019-05-10 12:43] #463 closed

[2019-05-10 16:38] moog16 commented on #853
closing for #855

[2019-05-10 16:38] #853 closed

[2019-05-11 19:09] lucasecdb opened #860 "Prettier"
can I add a prettier config for more consistent code style? does Google have a default configuration we could use?

[2019-05-13 17:14] moog16 commented on #860
What is the difference between Prettier and the Eslint Fixer (npm run fix or npm run lint)? Could you achieve the same thing with Eslint? Or is prettier more strict? I looked it up and Google does have a prettier config that we could use. I just want to understand the differences. Thanks!

[2019-05-13 17:17] abhiomkar commented on #827
I created `feat/constants` branch on upstream for future PRs so we can merge to `master` branch at once. Thanks!

[2019-05-13 18:29] lucasecdb commented on #860
I think prettier is more strict because it works on a line width basis. You can also integrate prettier with eslint, so you can run npm run fix for prettier to run.

[2019-05-13 20:22] Markus-Schwer commented on #675
I have the same problem with the TextField component.

[2019-05-13 20:25] moog16 commented on #675
Yes...it looks like this is also an issue there too:

[code]

[2019-05-13 20:41] Markus-Schwer commented on #675
This seems to work:
`this.state.foundation && this.state.foundation.destroy()`

[2019-05-13 20:43] moog16 commented on #675
Ya, would you like to open a PR for that?

[2019-05-13 21:02] Markus-Schwer commented on #675
Shure

[2019-05-13 23:39] moog16 commented on #860
Would you mind opening a PR for the changes, and see what errors happen? Or do you need the default config?

[2019-05-14 00:50] lucasecdb commented on #860
sure! I think I can get some of the style preferences from some files and then you tell me what you think :-)

[2019-05-14 01:27] TroyTae commented on #827
@abhiomkar
That's nice. Thank you!

[2019-05-15 20:04] bileschi opened #864 "Error using @material/react-select in TypeScript"
I'm attempting to use @material/react-select in an open source project, but I'm having trouble including it in a TSX file.   I am not having a similar problem with @material/react-button, which works great.

I'm importing @material/react-select like this:

[code]

I'm trying to use it using the demo code from the npm package:

[code]

My IDE (VSCode) is surfacing the following error:

[code]

I've

[2019-05-15 20:16] moog16 commented on #864
Thanks for opening the issue. I did some digging and it looks like you need the `"allowSyntheticDefaultImports": true,` option in your tsconfig. I think this is required since we are building our components with the `esModuleInterop` option, which is not turned on by default in most tsconfig.json.

[2019-05-15 20:19] #864 closed

[2019-05-15 20:25] bileschi commented on #864
Thanks!  This worked for me.

[2019-05-16 00:16] #860 closed

[2019-05-16 08:56] shaojianwei opened #865 "latest version mix up `mixins` and `_mixins`"
In `./node_modules`, file `@material/button/_mixins.scss` use `@import "@material/elevation/mixins";`, but there is only file `@material/elevation/_mixins.scss`

[2019-05-16 16:43] moog16 commented on #865
@shaojianwei Sass actually knows to look for `@material/elevation/_mixins.scss` as the leading `_` is known as a [partial](https://sass-lang.com/guide) (see Partial section).

Are you seeing an issue?

[2019-05-16 17:05] moog16 opened #866 "Remove repeated license comments from minified source code"
related MDC Web changes that we should also implement in MDC React https://github.com/material-components/material-components-web/pull/4584

[2019-05-16 19:32] moog16 commented on #488
closed in #697

[2019-05-16 19:32] #488 closed

[2019-05-16 19:33] moog16 commented on #190
Closed in #697

[2019-05-16 19:33] #190 closed

[2019-05-16 19:33] moog16 commented on #145
Stale issue. Closing

[2019-05-16 19:33] #145 closed

[2019-05-16 19:34] moog16 commented on #224
label is no longer required as of v0.12.0. This shouldn't be an issue anylonger

[2019-05-16 19:34] #224 closed

[2019-05-16 19:36] moog16 commented on #698
@mgr34 did you want to deprecate this since you also added the new top app bar format?

[2019-05-16 19:36] moog16 commented on #560
This is no longer an issue since merging #697.

[2019-05-16 19:36] #560 closed

[2019-05-16 19:36] moog16 commented on #763
#776 and v0.12.0 was released. This should no longer be an issue.

[2019-05-16 19:36] #763 closed

[2019-05-16 19:39] moog16 commented on #559
This is fixed in #697. Please see screenshots working https://storage.cloud.google.com/screenshot-uploads/text-field/textArea/dde78e3f154a8b910a989f8ce96e320e7ad2b3e199e6e7a81034174c598cbd9d.golden.png?organizationId=433637338589&_ga=2.177225829.-1123561096.1535414695

[2019-05-16 19:39] #559 closed

[2019-05-16 19:43] moog16 commented on #574
Closing as of #697

[2019-05-16 19:43] #574 closed

[2019-05-16 19:44] moog16 commented on #562
Closing this is a stale issue.

[2019-05-16 19:44] #562 closed

[2019-05-16 19:45] moog16 commented on #555
Closed as of #860

[2019-05-16 19:45] #555 closed

[2019-05-16 19:47] moog16 commented on #453
Closing this since its gone stale.

[2019-05-16 19:47] #453 closed

[2019-05-16 19:50] moog16 commented on #399
duplicate of #710. Closing.

[2019-05-16 19:50] #399 closed

[2019-05-16 19:52] moog16 commented on #352
Deprecated feature. Now tracked in https://github.com/material-components/material-components-web-react/issues/438

[2019-05-16 19:52] #352 closed

[2019-05-16 19:52] moog16 commented on #435
duplicate of https://github.com/material-components/material-components-web-react/issues/746

[2019-05-16 19:52] #435 closed

[2019-05-16 19:55] moog16 commented on #388
Now accepts   `label?: React.ReactNode;`

[2019-05-16 19:55] #388 closed

[2019-05-16 19:55] moog16 commented on #242
Merged with #697 enhanced select

[2019-05-16 19:55] #242 closed

[2019-05-16 19:56] moog16 commented on #242
merged in #697 enhanced select.

[2019-05-16 19:56] moog16 commented on #213
this is a deprecated feature of mdc web. closing

[2019-05-16 19:56] #213 closed

[2019-05-16 19:57] moog16 commented on #183
Fixed in #697

[2019-05-16 19:57] #183 closed

[2019-05-17 02:10] shaojianwei commented on #865
newer to sass. I'm using` react` `webpack` etc. from scratch, so didn't follow repository [Material Components for React](https://github.com/material-components/material-components-web-react) README step by step and met the issue.
I see the partial, change the webpack config file as follows (not completed), it solved.
[code]
Thanks for your patience, I'll learn sass from the ground up.

[2019-05-17 16:21] moog16 commented on #865
Glad you got it figured out! Thanks for using the components and let us know if you need anymore help :)

[2019-05-17 16:21] #865 closed

[2019-05-18 23:00] zaheraldefai opened #867 "Top App Bar Background Image and transformation"
Hi All,

I'm trying out the [Top App Bar](https://github.com/material-components/material-components-web-react/tree/master/packages/top-app-bar) and it works wonderful. But I'm looking for two features that are described in the [Top App Bar Guidelines](https://material.io/design/components/app-bars-top.html):

### Background Image

![mio-design_assets_1UmsSQiiLgULeUnPsyvwdtixhQ7VfqRmN_topappbars-i

[2019-05-19 11:31] code-by opened #869 "React does not recognize the handleSelect, handleInteraction, handleRemove, chipCheckmark, computeBoundingRect prop on a DOM element"
Got these warning using `<ChipSet>`.

[code]

[2019-05-19 20:44] Markus-Schwer opened #871 "Expose the html 'type' property to Input component"
The Input component doesn't provide any option to support other data types than text. It would be very useful to have access to the 'type' property of the html input element. With this, there is less of a need for a date- and time-picker components, becaue the 'native' browser implementations can be used.

[2019-05-19 20:54] Markus-Schwer commented on #871
Nevermind... Just found out this already works...

[2019-05-19 20:54] #871 closed

[2019-05-20 16:48] moog16 commented on #434
fixed with #870

[2019-05-20 16:49] moog16 commented on #675
fixed with #870

[2019-05-20 16:49] #675 closed

[2019-05-20 17:58] mgr34 commented on #698
hey @moog16  Sure, I will get to it sometime this week.

[2019-05-20 21:05] moog16 commented on #698
awesome! Thanks

[2019-05-20 21:35] nworden commented on #559
Thanks Matt!

[2019-05-21 00:09] moog16 commented on #867
Hello! Thanks for opening the issue...This actually belongs more in the MDC Web repo as it concerns theming and Sass mixins. I'll move this issue to Web.

I think you did the correct thing here by manually doing it via CSS. I do not think we have this as a customization yet.

[2019-05-21 00:11] moog16 commented on #869
Can you please provide the JSX markup? It would help greatly if it was in a stackblitz too.

https://stackblitz.com/edit/react-eeyij6

[2019-05-21 18:45] maloguertin opened #873 "[TextField] autoFocus label is not floated"
## Bug report
The TextField component does not behave properly when its Input children has `autoFocus` prop.

### Steps to reproduce
[code]
### Actual behavior
The input has the focus but the label is not floated, nor does it float uppon entering text.

### Expected behavior
The input should be floated.

### Screenshots
![Screenshot from 2019-05-21 14-29-20](https://user-images.githubusercontent.c

[2019-05-21 23:24] moog16 commented on #873
@maloguertin please see stackBlitz https://stackblitz.com/edit/react-afnzkv?file=TextField.js. Let me know if this is still an issue for you. Also you said you're on MDC Web version 2.2.0. This is the MDC React repo. Also you're missing a `d` in `<TextField ...`.

Closing as its not an issue, but feel free to ping this issue. I will respond.

[2019-05-22 07:02] hvolschenk commented on #869
Same is happening for the `<List />` with the prop `shouldToggleCheckbox`. Will have a proper look later, standing in a DMV-type queue at the moment ;)

[2019-05-22 13:00] maloguertin commented on #873
It works on stackBlitz but no matter what I do can't get it to work on my build. Also I said MDC Web because were using it alongside the MDC React Repo (I have version 0.12.1 for the textfield).

[2019-05-22 13:52] maloguertin commented on #873
Also if I alt-tab twice to leave and come back to the page then the label is properly floated

[2019-05-22 18:38] moog16 commented on #869
[test.tar.gz](https://github.com/material-components/material-components-web-react/files/3208826/test.tar.gz)
I created a CRA to try and reprop...not sure what you guys are seeing. Can you guys take a look and see any differences? Is it the typescript version?

[2019-05-22 23:28] moog16 commented on #873
created a fix targeted for rc0.13.0

[2019-05-23 07:29] AllanWang opened #876 "[List] Avoid calling `handleSelect` for checkbox list for clicks outside of the checkbox."
Currently, any unhandled click on a list item in a checkbox list will prompt `handleSelect`. If the item is currently checked, it remains checked, and an index is added. If the item is currently unchecked, no change occurs, but the callback is still invoked.

The results look like the following:

![image](https://user-images.githubusercontent.com/6251823/58233716-a47b0900-7cf1-11e9-8e27-908e0ffd51

[2019-05-23 19:53] gugu opened #878 ".js.flow definitions"
Some projects use flow instead of typescript and adding flow definitions will help people

Pros:
* really easy to add
* I already have some of them ready

Cons:
* Maintenance

[2019-05-23 22:43] madou opened #879 "Material transitions with element motion"
Hi! I develop a library called element motion (see: [elementmotion.com](https://elementmotion.com)) - which is primarily inspired by material animations. I think it would fit lovely with material components.

These days you don't want to re-written everything yourself - element motion has been made to be small, performant, and powerfully customisable - let's talk?

[2019-05-24 03:54] lucasecdb opened #880 "ChipSet errors when rendered without children"
The following error occurs if the `ChipSet` component renders without any children:

![image](https://user-images.githubusercontent.com/10223856/58301800-639cf600-7dbe-11e9-94c9-547a49d9bc0e.png)

[2019-05-24 04:00] lucasecdb commented on #880
actually, it's not that when it's rendered without children, but when rendered with conditional chips, like

[code]

[2019-05-24 18:06] moog16 commented on #876
@AllanWang we haven't implemented the logic for the checkbox within the list. It requires some thought (maybe some refactoring) as how to handle checkbox/radio buttons within a list item. Right now you are supposed to handle the events manually yourself with checkbox.

Does that make sense? Also if you have any ideas as how it should work, I'm all ears.

[2019-05-24 18:08] moog16 commented on #878
@gugu yeah I realize flow is also a popular library. Is there a way to programatically create them from the TS definitions? Ideally this would be a npm script with 0 maintenance. The only maintenance I would want to incur is if flow updates to a breaking version.

[2019-05-24 18:09] moog16 commented on #879
Your home page looks great! What would you like from the MDC React team?

[2019-05-24 18:10] moog16 commented on #880
Definitely a bug. I'll try looking at this today.

[2019-05-24 21:23] mgr34 commented on #698
Hey @moog16 I wont be able to get to it this week after all. I'll aim for sometime next week.  Have a good holiday weekend.

[2019-05-24 22:29] madou commented on #879
hi there

do you have a roadmap for adding motion to the library (see: https://material.io/design/motion)? yubaba's roots were always to remake the material motion spec for the web, so it's been built with that in mind from day 1.

because of that i think it would go hand in hand with a material design library hehe - either as a supplementary "build your own adventure" using with it - or alternati

[2019-05-24 23:17] moog16 commented on #698
no worries! we can push til next release. Have a great long weekend too!

[2019-05-24 23:20] moog16 commented on #880
not going to be able to get to it today :(

[2019-05-24 23:27] lucasecdb commented on #880
no problem! I have a workaround while this isn't resolved 😄

I may look into it this weekend

[2019-05-24 23:28] moog16 commented on #880
That'd be great!

[2019-05-25 04:08] AllanWang commented on #876
I might not have the full picture, but for now, it looks like the only logic that isn't handled is the initial checked status. Afterwards, checkboxes change visually regardless of handling.

My comment above was namely that clicking parts of the item outside of the checkbox results in duplicate entries, which seems like a flaw. Was this what you meant by unhandled, and should the desired logic be

[2019-05-25 04:13] AllanWang opened #882 "[Question] Should labels in textfields be mandatory?"
From the [current docs](https://github.com/material-components/material-components-web-react/tree/v0.12.1/packages/text-field#props), it says that labels must be mandatory.

However, [mdc docs](https://github.com/material-components/material-components-web/tree/v2.2.0/packages/mdc-textfield#text-field-without-label) shows that fields without labels are possible, and the react logic seems to handle

[2019-05-26 00:39] lucasecdb commented on #851
I just ran into this, but I don't think it's because of the lack of null in the children type. I have something like

[code]

and typescript is giving me the following error:

[code]

I honestly don't even understand what the error above is trying to say.

I don't think it's a good idea to strictly define the type of the `children` prop of any component, as it greatly removes the flexibility from

[2019-05-26 01:14] fjorgemota opened #884 "ES modules version"
Hey.

I'm testing MDC React here and I observed that every module related to this project on NPM is on...UMD format, so a few optimizations that bundlers (like webpack) do, like concatenation of every module and tree-shaking aren't possible with the dependencies of this package.

It's possible to release a version of each asset based on ES modules, please? I think something like MDC Web (ES Module

[2019-05-26 18:09] lucasecdb opened #885 "Upgrade mdc web dependencies to 2.x"
these are the components that need to be upgraded:

- [x] `@material/react-button`
- [x] `@material/react-card`
- [x] `@material/react-checkbox`
- [x] `@material/react-chips`
- [x] `@material/react-dialog`
- [x] `@material/react-drawer`
- [x] `@material/react-fab`
- [x] `@material/react-icon-button`
- [ ] `@material/react-list` **has breaking change**
- [ ] `@material/react-menu` **has breaking ch

[2019-05-27 22:47] bsswartz opened #895 "Floating label on text-field does not move when value prop changes."
![image](https://user-images.githubusercontent.com/5290332/58441428-fb3c6600-8096-11e9-8f6f-241ce6808f41.png)

[2019-05-28 17:19] moog16 commented on #876
You are saying that a click on the ListItem, calls `handleSelect` twice? A [stackblitz](https://stackblitz.com/edit/react-eeyij6) might be easier to communicate the issue. Or the steps to reproduce.

If its calling handleSelect twice, then yes this is definitely a bug.

[2019-05-28 22:27] AllanWang commented on #876
Everything is still being called once per click; no duplicates.

It's just that in example [like so](https://stackblitz.com/edit/react-nqu6ux), clicking the text part of an item will prompt another `handleSelect`, even though the selected indices don't change. And on top of that, a new index is added, which results in a long list of duplicate numbers. Shouldn't such events just not prompt `handleS

[2019-05-28 23:51] moog16 commented on #882
Thanks for opening this issue. Docs need to be updated! Currently you can use both the web and react versions of mdc without the label.

[2019-05-28 23:55] moog16 commented on #895
Can you please provide a stackblitz or code example? It is difficult to diagnose without such.

[2019-05-28 23:56] moog16 commented on #697
This should have been closed when 0.12.0 was released.

[2019-05-28 23:56] #697 closed

[2019-05-29 00:02] moog16 commented on #884
@fjorgemota - yes this has been on my wish list for quite some time - https://github.com/material-components/material-components-web-react/issues/699. I am however in the process of exploring rollup instead of webpack in MDC Web. This is in the experimental phase, but once something is decided I plan on porting this over to React as well. For now, the only way you can get "tree-shaking" is via the

[2019-05-29 00:02] #884 closed

[2019-05-29 01:27] fjorgemota commented on #884
Whoops. I didn't find #699 before, so...well, sorry for the duplicate.

I see a big advantage in using rollup instead of webpack...I searched about using ES Modules with Webpack but it seems to really not be the ideal tool to do that (rollup seems to be really better in this task). Also, using `ts-loader` didn't allowed me to get tree-shaking support, probably because of the differences in tsconfi

[2019-05-29 16:09] moog16 commented on #385
Closed with #894

[2019-05-29 16:09] #385 closed

[2019-05-29 16:22] moog16 commented on #882
fixed in #896

[2019-05-29 16:22] #882 closed

[2019-05-29 16:26] moog16 commented on #884
Yeah I just need to build some prototypes and defend my case for rollup (as the majority of our eng team agrees with you). This type of project isn't suited well for outside contributions, but thank you for offering! Keep on submitting issues -- we appreciate it!

[2019-05-29 18:15] HGS-areichma commented on #616
React is listed as a full dependency rather than a dev dependency in each of the individual packages (e.g. `packages/card/package.json`). Does that need to change also?

[2019-05-30 09:18] moog16 commented on #880
Closed with #883

[2019-05-30 09:18] #880 closed

[2019-05-31 11:41] arichiv commented on #857
Still exists in 0.13.0 https://unpkg.com/@material/react-button@0.13.0/dist/index.d.ts

[2019-05-31 12:57] moog16 commented on #873
Closed in #875

[2019-05-31 12:57] #873 closed

[2019-05-31 12:57] moog16 commented on #857
@arichiv yes no one was able to work on this just yet. Do you have time for a PR? :)

[2019-05-31 14:09] arichiv commented on #857
I walked right into that one.

I should have time to write a test to detect this next week. If that uncovers a root cause I would fix it, but I may have to stop there.

[2019-06-01 12:43] moog16 commented on #857
Sounds good! Anything is appreciated!

[2019-06-03 11:36] moog16 commented on #851
I believe `Type '(Element | Element[])[]'` is because you have one `Option` tag that is disabled hence the `Element | ...` portion and the array of `Option` tags, which is where the `... | Element[]` comes from (just a guess).

Are you suggesting the using React.Context? Yes, I believe that a lot of the issues of the original implemention of this library with child/parent relationships would be re

[2019-06-03 12:06] moog16 commented on #817
Closed with #861

[2019-06-03 12:06] #817 closed

[2019-06-03 12:20] moog16 commented on #879
Closing as this is not a priority right now. Thanks for opening this issue, and great work on the animations!

[2019-06-03 12:20] #879 closed

[2019-06-03 12:41] ndtreviv opened #901 "No mixin named mdc-ripple-common error after adding @material/react-menu/index.scss"
I recently added `@material/react-menu` to my project, and imported the scss file into mine amongst others as per the README, like so:
[code]

However, I get the following error:
[code]

If I comment out the react-menu import:
[code]
then it all works, and icons have a ripple effect when I click them.

Is there something else I need to do to get these configured properly?

Contents of .env:
[code]

[2019-06-03 12:59] moog16 opened #902 "npm run lint should fail when there are prettier warnings"
Currently running npm run lint (or fix), will show warnings (not errors). By not throwing errors, the PRs always pass green which has let "unlinted" code into the repo.

Solution: Have npm run lint prettier warnings changed to errors.

[2019-06-03 13:11] alangleontes commented on #901
try chaging your .env content to:

`SASS_PATH=.\node_modules`

[2019-06-03 13:18] ndtreviv commented on #901
I'm on a Mac and have already tried:

No joy :(

[2019-06-03 13:44] ndtreviv commented on #901
The plot thickens: the problem goes away once I `yarn add @material/react-list`

[2019-06-04 14:08] rbare1 opened #905 "singleSelection List doesn't remove selected class"
In v0.13.0, the singleSelection list can't be used without the handleSelect prop. Previously, it would handle selected state properly on its own, but now it won't remove the selected class when selecting another option. Additionally, if you click around quickly, sometimes the previous list item will deselect.

This can be recreated with the screenshot tests by simply removing the handleSelect prop

[2019-06-05 14:23] ndtreviv opened #908 "Setting anchorElement as TextField for Menu causes _this.props.anchorElement.getBoundingClientRect"
## What I'm trying to do:
Create an autocompleter select list by using a TextField to accept filter text, and a Menu to show matching items.
All of this is within a Dialog.

According the Menu docs, if I want to anchor the Menu to the TextField I need to set `ref` to call a function that sets the anchor element. My TextField:
[code]

`setAnchorElement` implementation:
[code]

Menu props:
[code]

#

[2019-06-05 14:28] ndtreviv commented on #908
Found the solution, which was to change the `setAnchorElement` implementation to be:
[code]

[2019-06-05 14:29] #908 closed

[2019-06-05 14:57] ndtreviv opened #909 "Menu disappears after item selection and never returns despite open={true}"
# What I'm trying to achieve
An autocomplete/select list made up of a `TextField` and a `Menu`.

# Expected Behaviour
When the user clicks the TextField, or starts typing, it should show the Menu, controlled by a boolean in the state called `fieldListOpen`.

If the user selects a menu option, the Menu should go away, and if they then click the TextField again it should reappear, as `fieldListOpen`

[2019-06-05 15:19] ndtreviv commented on #909
#242 mentions a text field associated with a select...I'm wondering if an autocomplete component is in the pipeline?

[2019-06-05 15:24] ndtreviv commented on #909
Fixed by adding the following property to Menu:
[code]

[2019-06-05 15:24] #909 closed

[2019-06-06 00:46] TroyTae commented on #905
Can you show me your code with Stackblitz or Codepen?
I tried to reproduce this issue in MacOS but failed.

[2019-06-06 00:51] bsswartz commented on #895
@moog16

Here is a stackblitz: https://stackblitz.com/edit/react-3q3vjk

[code]

[2019-06-06 07:26] bsswartz commented on #895
I observe the error using Chrome 74, iOS Safari 12, and Edge 18; it does not seem to be a browser bug.

[2019-06-06 08:37] ndtreviv opened #910 "Input label not floating even though it's populated"
# What I'm trying to achieve:
Have a TextField on the page where the Input receives/stores its value in state.

Have a Menu where, when a MenuItem is selected, the value of that menu item is set in the state property that populates the Input.

# Code:
[code]

# Expected Behaviour
When the MenuItem onClick handler sets the state property value, the Input field should be re-rendered with the value p

[2019-06-06 08:43] ndtreviv opened #911 "Help Wanted: How do I create a Select with no selection?"
I want to have a `Select` element that has no initial selection. Is there a property for that, or do I have to create a dummy `Option` element?

[2019-06-06 08:56] ndtreviv commented on #911
Closing this. Asking on discord.

[2019-06-06 08:56] #911 closed

[2019-06-06 09:11] ndtreviv opened #912 "Select label not floating"
# Code:
[code]

# Expected Behaviour
If there is no value, the field should show as empty.

# Actual Behaviour
The first Option is selected by default and the label does not float:

<img width="142" alt="Screenshot 2019-06-06 at 10 09 49" src="https://user-images.githubusercontent.com/1530653/59021153-3da63580-8843-11e9-98f8-7a58f0076c85.png">

[2019-06-06 10:05] ndtreviv opened #913 "Menu not anchoring to correct part of anchorElement first time only"
# Code
[code]

First time I click the Input or the trailing icon (anchoring is incorrect):
<img width="352" alt="Screenshot 2019-06-06 at 11 00 20" src="https://user-images.githubusercontent.com/1530653/59024787-8e6d5c80-884a-11e9-9664-380e1c3de241.png">

Subsequent clicks (anchoring is correct):
<img width="277" alt="Screenshot 2019-06-06 at 11 00 27" src="https://user-images.githubusercontent.co

[2019-06-06 10:13] ndtreviv commented on #913
I've also tried:
[code]

Same behaviour. I think it's because the anchor element is null first time around.

[2019-06-06 10:17] ndtreviv commented on #913
Looks like the the first time around, the dom element is there, but the coordinates are wrong:
<img width="1013" alt="Screenshot 2019-06-06 at 11 16 17" src="https://user-images.githubusercontent.com/1530653/59025713-b067de80-884c-11e9-8a6b-ba257993359e.png">

[2019-06-06 10:23] ndtreviv commented on #913
Ok, now I'm thinking it's because the whole lot is in a Dialog, which is still "opening" when the DOM reference is obtained

[2019-06-06 10:37] ndtreviv commented on #913
That wasn't it. Now I'm setting the anchor on componentDidMount.

I've even tried using coordinates instead:
[code]

The coordinates come out as null on first render, obviously, and then correct on second render, but even after second render the menu still doesn't render in the right place the first time around.

[2019-06-06 10:40] ndtreviv commented on #913
First time it opens there is no `top` in the inline style:
[code]

Second time it opens, top is correct. So it's clearly getting left correctly, but not top?

[2019-06-06 10:48] ndtreviv commented on #913
If I leave off anchorCorner (so that it would anchor to the TOP_LEFT Corner of the TextField), and then set anchorMargin as:
[code]
that also doesn't work. It just renders like the first picture in the original post.

[2019-06-06 10:52] ndtreviv commented on #913
At the moment, the hacky workaround is to set the damn style myself:
[code]

I'm off for a drink 🤪

[2019-06-06 10:59] ndtreviv opened #914 "Select with no label has too much top padding"
The first field in this screen capture is a TextField with no label, the second is a Select:
<img width="425" alt="Screenshot 2019-06-06 at 11 57 35" src="https://user-images.githubusercontent.com/1530653/59028031-7699d680-8852-11e9-8220-33a6263a9877.png">

# Expected Behaviour
TextField and Select should have the same top padding when there is no label

# Actual Behaviour
TextField has `padding-t

[2019-06-06 11:05] ndtreviv commented on #914
This might actually be an issue for material-components/material-components-web...

[2019-06-06 11:10] ndtreviv commented on #914
Current workaround is to give the `Select` a `className` prop:
[code]

then in scss:
[code]

[2019-06-07 10:33] qs-labs commented on #380
The only clarifier I would add to this is the [MDC Web Text Field demo](https://material-components.github.io/material-components-web-catalog/#/component/text-field) includes two 'fullWidth' text fields that both preserve the label, which admittedly led to some confusion on my end.

[2019-06-07 11:06] Fa-So commented on #895
Here it is simulated differently again:
[Textfield floating Input problem](https://codesandbox.io/s/gallant-pike-5679t)
[code]

[2019-06-07 14:58] ndtreviv opened #916 "Button retains mdc-ripple-upgraded--background-focused style even though it's not focused"
I have three buttons that I'm using as a search results view type button bank (grid view, list view, map view).

When a particular view type is active, the corresponding `Button` is marked as `disabled` so the user can't reselect it (it's already been applied).

## Expected behaviour
When a user clicks an option, the button relating to that option should be highlighted, other buttons should lose t

[2019-06-07 15:17] ndtreviv commented on #916
Could the state update onClick be interrupting the ripple somehow?

[2019-06-07 16:01] arichiv commented on #857
Ping on review for #900 :-)

[2019-06-09 14:13] TroyTae commented on #912
When no option matches the select's value, this situation is fired.
How about add disabled option?

[2019-06-09 14:25] TroyTae commented on #916
Can you check element's focus?
As you know, element's focus is removed when click other area.

Or if you share stackblitz or codepen, that is very helpful :)

[2019-06-09 14:38] TroyTae commented on #910
Is this text-field issue?
Your capture looks like Select component.

[2019-06-09 14:40] TroyTae commented on #914
Thank you for finding this issue!
There are some breaking changes in Select component.
But it looks not reflect.

Do you wanna tackle this?
If not, I'll make fixing PR as soon as possible :)

[2019-06-10 08:18] ndtreviv commented on #916
Workaround is to override the style and set the --background-focused version to have no background colour. The ripple still seems to work ok.

[2019-06-10 08:20] ndtreviv commented on #910
It's a text field with a trailing icon (down caret) and a menu that appears in certain scenarios. I'm trying to develop an auto-completable select.

[2019-06-10 08:22] ndtreviv commented on #912
Well there's definitely a value that matches. It wouldn't be showing if it didn't match...
[code]

In my humble opinion, with all input fields, the label should always float if they're populated with a value - even if it's the wrong one. I'd rather see an incorrect wrong value clearly than see an overlapping label.

[2019-06-10 08:30] ndtreviv commented on #916
I'm literally clicking on other elements on the screen, highlighting text, causing state changes that means a neighbouring button get re-rendered, but it still retains "focus".

I've never used stackblitz before. I'll try and get a reproduceable setup going.

[2019-06-10 08:46] ndtreviv commented on #916
I managed to get this far: https://stackblitz.com/edit/react-u9rd1h
But I can't work out how to import the @material scss into the styles.scss without it generating errors. :( Do you know how to do this?

[2019-06-10 09:16] thdk commented on #616
I came here due to the following error in my console and following the information from the link in the error:

It turns out number 3 is causing the error in my applications which leaded me to this issue here.

Should'nt each package here (ex. @material/react-text-field, @material/react-checkbox,...) have 'react' as a **peer dependency** as suggested in the documentation listed above?

[2019-06-10 12:26] ndtreviv commented on #914
I'll have a go :) I don't really know TypeScript, so it'll be an interesting foray! (I've been looking for at least 20 minutes and still can't work out where the label gets `render()ed`

[2019-06-10 12:40] ndtreviv commented on #914
Think I've got it - it helps if you're looking in the right project. I'll give it a go 👍

[2019-06-10 12:48] poying commented on #916
Same issue here.
![out](https://user-images.githubusercontent.com/1190072/59196387-1643c580-8bc1-11e9-985d-a858429493ed.gif)

[2019-06-10 13:26] TroyTae commented on #912
Ah I see, here is the label adapter code:
https://github.com/material-components/material-components-web-react/blob/master/packages/select/index.tsx#L231
And it looks label's float is managed by mdc-web.
If you wanna change some condition you need to change there!

[2019-06-10 13:27] TroyTae commented on #910
I see, I guess this is same issue with this:
#912

[2019-06-10 13:34] TroyTae commented on #914
Here is `renderLabel` method:
https://github.com/material-components/material-components-web-react/blob/master/packages/select/index.tsx#L416

And this doc is helpful for you!
https://github.com/material-components/material-components-web/tree/master/packages/mdc-select/#enhanced-select

[2019-06-10 13:37] TroyTae commented on #916
@ndtreviv @poying
Thank you both :)
Now I'm debugging this.

[2019-06-10 14:04] poying commented on #916
@TroyTae [This change](https://github.com/poying/material-components-web-react/commit/7785a8e077093bf09b2a54c30ac40208052e6f7d) can solve the issue, but I am not sure whether it will cause other issues or not. I hope this is helpful for debugging.

[2019-06-10 14:53] TroyTae commented on #916
@poying
Thank you for showing your code :)

[2019-06-10 14:53] TroyTae commented on #916
*TBD*
This issue is fired when element's disabled is being true after click.
After click event, element has `mdc-ripple-upgraded--background-focused` class.
But blur event isn't fired at disabled element, so this focus class is keep alive.
There is need to think about how to solve this problem.

[2019-06-10 19:33] moog16 commented on #857
Hey! Sorry I was out on vacation and will take a look shortly

[2019-06-10 19:41] jonmanzo commented on #901
This is a dependency version mess - least in my case the best I can figure is this:

react-menu > react-list (0.13.0)

react-list deps:

`{
    "@material/dom": "^1.1.0",
    "@material/list": "^1.0.0",
    "@material/react-checkbox": "^0.10.0",
    "@material/react-radio": "^0.10.0",
    "@material/react-ripple": "^0.13.0",
    "classnames": "^2.2.6",
    "memoize-one": "^5.0.4",
    "react": "^1

[2019-06-10 19:46] moog16 commented on #380
Would you mind opening an issue against the catalog? https://github.com/material-components/material-components-web-catalog

[2019-06-10 20:17] moog16 commented on #895
Gotcha - this is definitely a bug. I'll investigate.

[2019-06-10 20:20] moog16 commented on #616
Correct, as stated in the previous comments, we agreed react should be changed to a peerDep from dep.

[2019-06-10 21:14] #902 closed

[2019-06-10 22:04] moog16 commented on #910
I believe this is a dupe https://github.com/material-components/material-components-web-react/issues/895

[2019-06-10 22:04] #910 closed

[2019-06-10 22:05] moog16 commented on #912
I'll look through this one too.

[2019-06-10 22:44] moog16 commented on #901
@jonmanzo yes I also see that the @mateiral/ripple is resolving to 0.41.0. `checkbox` and `radio` should be updated to 0.13.0, which should resolve this issue.

[2019-06-10 23:15] moog16 commented on #914
Tested this out and yes you're right, there is a 20px padding-top for the select and 16px padding-top for the text-field (for both with label and no label). Screenshots attached of misalignment:

![6WHahB4tZvw](https://user-images.githubusercontent.com/579873/59232673-3d3ad100-8b9a-11e9-8ea8-c489c9ec6382.png)
![R6HpWYcNn04](https://user-images.githubusercontent.com/579873/59232674-3d3ad100-8b9a-11

[2019-06-11 05:49] TroyTae commented on #912
https://github.com/material-components/material-components-web/blob/358546a375583bd0a90855e352767c54f926e3bb/packages/mdc-select/foundation.ts#L154

In mdc-web, label is floated when there is something value.

[2019-06-11 08:34] barteksekula opened #920 "<Tab> rendering <Button> component instead of native button"
At the moment 'button' is hardcoded in the source code:
https://github.com/material-components/material-components-web-react/blob/master/packages/tab/index.tsx#L206
Would it be a good idea to support regular anchors?

The use case is to be able to render regular navigation links instead of a list of buttons with onClicks and navigation to a different url in javascript.

It would be enough if we ju

[2019-06-11 11:18] ndtreviv opened #921 "Closing a Dialog that was rendered from inside a Dialog closes both of them"
I have a dialog where users can add search filters (still definitely in development!):
<img width="1987" alt="Screenshot 2019-06-11 at 12 07 24" src="https://user-images.githubusercontent.com/1530653/59267228-8e51d000-8c41-11e9-81f4-5bd4dbd7b49d.png">

One possible filter is a location filter. They click a button to render a map area selector:
<img width="1945" alt="Screenshot 2019-06-11 at 12 07

[2019-06-11 11:22] ndtreviv commented on #912
I think the problem lies in material-components-web.

I've mostly written a fix, but I'm still working out how to get the computed style of the element in the tests I've written. You'll probably do it faster, @moog16 and more inline with existing stuff in terms of methodology, no doubt, so I'll leave it to you!

[2019-06-11 16:39] #901 closed

[2019-06-11 17:42] moog16 commented on #901
released a patch 0.13.2

[2019-06-11 22:19] moog16 commented on #913
@ndtreviv https://github.com/material-components/material-components-web-react/issues/913#issuecomment-499436789 this might be because we have a default anchor rect element, but once the anchor element is created, it should take the default's place. Do you have a test project that you're testing this all in that you can share?

[2019-06-11 22:24] moog16 commented on #920
So we'd be using the Button component, but not the styles? Could we instead just use something like `props.tag`? See https://github.com/material-components/material-components-web-react/blob/master/packages/list/ListItem.tsx#L207

[2019-06-11 22:32] moog16 commented on #916
@ndtreviv it looks like your [stackblitz](https://github.com/material-components/material-components-web-react/issues/916#issuecomment-500340609) is working as expected. How are you reproducing the original issue?

[2019-06-11 22:46] #698 closed

[2019-06-12 07:08] barteksekula commented on #920
Sure, that's also an option. I just thought it would be better to just utilize the existing Button component, especially that Tab's props are based on HTMLButtonElement, if we expose Tag, even with default prop set to 'button' users will still be able to set it to an element that is not intended to be used inside a Tab Bar.

I just took a quick look how other material implementation does that and

[2019-06-12 07:20] ndtreviv commented on #916
@moog16 I can't get the stackblitz to import the styles properly. It just errors whenever I import the @material based scss files.

You can see them commented out in the style.scss file - if you can help me figure out how to get that bit working on the stackblitz then I'll get you a better reproduction of the problem.

It looks like @TroyTae has worked out what the problem could be:

It sounds pla

[2019-06-12 08:18] TroyTae commented on #916
I made a PR to reproduce this issue.
That PR don't contain solving code!
I'm still think how to solve it...

[2019-06-12 10:02] barteksekula commented on #920
two alternatives:
[code]

or just
[code]

both with
[code]

[2019-06-12 15:27] qs-labs commented on #380
@moog16 Yep, will do!

[2019-06-12 15:37] qs-labs opened #926 "Select 'enhanced' Improper Rendering"
The Select 'enhanced' prop appears to cause improper rendering with its contents (demonstrated below).
![image](https://user-images.githubusercontent.com/38405319/59364861-8b201800-8d05-11e9-9ebe-deded040ad66.png)

Using the [README code](https://github.com/material-components/material-components-web-react/tree/master/packages/select#enhanced-select) as a template, I created [this app](https://sta

[2019-06-12 16:14] moog16 commented on #916
@ndtreviv it looks like `@import '~@material/react-button/index.scss';` works but material-icon's sass is not. I can confirm that the sass file does [exist](https://unpkg.com/@material/react-material-icon@0.13.0/index.scss).

[2019-06-12 16:14] moog16 commented on #916
@TroyTae I'll look at the PR

[2019-06-12 16:42] moog16 commented on #921
@ndtreviv this goes back to the fact that this is not a controlled component. See https://github.com/material-components/material-components-web-react/issues/772 and #785. Because of this, the MDC Web foundation automatically calls notifyClosed on both of the dialogs.

The easiest work around which may not work for you is to swap out the content of the dialog. Does that work?

[2019-06-12 16:46] moog16 commented on #920
@barteksekula yeah that makes sense there is a button base, however it was not designed to be used within the tabs component. That might be a good update for MDC Web (vanilla version).

The React Button also has logic specific to the button that the tab will never use, which adds unnecessary cruft to the tab. Can we go with `Tag`?

Also `export interface TabProps extends React.HTMLProps<HTMLButton

[2019-06-12 16:48] moog16 commented on #380
thanks!

[2019-06-12 17:27] will-ebm commented on #926
did u import "@material/react-menu-surface/dist/menu-surface.css" ?

[2019-06-12 17:46] moog16 commented on #926
You actually need to import all of these:

[code]

[2019-06-12 17:53] moog16 commented on #926
opening pr

[2019-06-12 18:49] moog16 commented on #916
@TroyTae thanks for creating that PR...I tried reproing it in MDC Web to be sure, and its definitely just a React issue.

[2019-06-13 06:59] seriema opened #929 "Checkbox with label is rendered wrong"
# Issue
According to the readme it's possible to just add a standard `<label>` element after the checkbox.

[code]

Will render a checkbox looking like this, with the label wrongly positioned and wrong font:
![image](https://user-images.githubusercontent.com/693684/59410542-61c0c400-8db9-11e9-9fe4-f0114baf618a.png)

Example code here:
https://stackblitz.com/edit/react-wpvkxv

# Possible solution
I

[2019-06-13 08:25] rbare1 commented on #905
https://stackblitz.com/edit/react-xz1pw3

[2019-06-13 10:29] ndtreviv commented on #921
Gotcha. Can't wait for _that_ guy's PR! 😂

Unfortunately swapping out the content would be super ugly, because it's another layer down, ie:
`Dialog2 -> Filter Field[type = location] -> Dialog2`

I'll give it a go as a workaround

[2019-06-13 10:37] qs-labs commented on #926
Per your suggestions, the expected behavior was accomplished with the following imports:
[code]
Attempts at importing `import '@material/react-menu/index.scss';` resulted in an error (see [here](https://stackblitz.com/edit/react-dmdqhj?file=Select%2FMyEnhancedSelect.js)). Thank you for your assistance, @will-ebm and @moog16!

[2019-06-13 10:42] #926 closed

[2019-06-13 16:30] moog16 commented on #921
Yeah, might not be as beautiful as you'd like it to be. But I'm sure it is possible.

[2019-06-13 16:33] moog16 commented on #926
Hm that's strange as [sass file](https://unpkg.com/@material/react-menu@0.13.2/index.scss) does exist. Might be an issue with turbo modules as well...

[2019-06-13 18:44] moog16 commented on #929
@seriema yes, adding the form field component is the correct solution. We never created the form-field component since it is just styles. But if you'd like to create a component for it please feel free :)

[2019-06-13 18:45] moog16 commented on #921
Going to close this issue as it is covered in #772 and #785.

[2019-06-13 18:45] #921 closed

[2019-06-13 19:27] Arthie opened #931 "[Bug]: Ripple doesn't activate when clicked if it was previously activated with touch"

[2019-06-14 14:33] seriema commented on #929
@moog16 Something like this? https://stackblitz.com/edit/mcwr-form-field?file=form-field%2Findex.tsx
Not sure what to do with the `input` expected by form fields: https://github.com/material-components/material-components-web/tree/master/packages/mdc-form-field#mdcformfield-properties-and-methods
When is there a form field with an input? The text field already handles its own label and animation.

[2019-06-14 15:48] mgr34 opened #933 "feat(snackbar): include dismiss icon and missing foundation method handleActionIconClick"
currently the snackbar is missing the ability to add an optional dismiss icon and the related foundation method `handleActionIconClick`.

Snackbars are intended to dismiss on their own after a few seconds, but a dedicated dismiss icon may be optionally included as well for accessibility purposes. ([[0](https://github.com/material-components/material-components-web/tree/master/packages/mdc-snackbar

[2019-06-14 16:56] moog16 commented on #929
@seriema I see what you mean - it seems to work without those adapter methods. I don't see why we need them as its handled by the checkbox and radio. I think for now we can leave it as you have it. FormField was not designed with React in mind. This component is really more about the styles/scss.

PS: I took a look at [RMWC](https://github.com/jamesmfriedman/rmwc/blob/master/src/formfield/index.ts

[2019-06-14 21:07] moog16 commented on #931
I see your PR and will continue the convo there. Thanks!

[2019-06-17 08:46] SleeplessByte opened #935 "Regression: Select does't change value on option tag click (Firefox)"
Regression of #476

Doesn't work with 0.12.0+ (0.13.0+).
Firefox 67.0.2.

Same issue as referenced issue. Keyboard control works.

[2019-06-17 16:53] seriema commented on #929
I just noticed that Radio already wraps itself in 'mdc-form-field'. So either:
1) Checkbox should be like Radio: having 'mdc-form-field' wrapping div and optional label element
2) Radio should be like Checkbox: not have a wrapping 'mdc-form-field' and no label element
They're also different in that Radio needs a NativeRadio child, while Checkbox just renders the native checkbox (+ it's stylized ch

[2019-06-17 17:37] moog16 commented on #929
@seriema gotcha - when we chatted in discord, I thought you were talking about MDCW. I took a look at MDCReact Radio/Checkbox. I think #1 also makes sense to me as well. Sorry for the miscommunication.

[2019-06-17 18:13] arichiv opened #936 "Fix Broken Typescript Production Types"
The generated `.d.ts` files have been broken for a couple months now. There are two main errors:
1. [All ripple based components improperly include a relative ripple file that does not exist in production installs](https://github.com/material-components/material-components-web-react/issues/857)
2. Inconsistent imported versions of `@types/react-is` and `@types/react` are causing templating type er

[2019-06-17 19:38] moog16 commented on #857
Closing for #936

[2019-06-17 19:38] #857 closed

[2019-06-17 19:40] moog16 commented on #920
Closing this since we merged #928

[2019-06-17 19:40] #920 closed

[2019-06-17 19:49] moog16 commented on #933
Great sounds good! Thanks for opening this issue. I think it will probably be waiting for you when you get back. Good luck on your move!

[2019-06-17 20:18] moog16 commented on #912
@ndtreviv - I thought this was related to the text-field, but it seems to be a totally different issue. How do you reproduce this? And what do you mean by "event if it's the wrong one."

[2019-06-17 20:45] moog16 commented on #935
Thanks for reporting issue - I investigated, and its not a true regression, meaning the issue isn't the same as before. I believe this might be an issue that a new version o FireFox introduced. See https://stackblitz.com/edit/react-select-mdc?file=index.js.

[2019-06-17 21:36] SleeplessByte commented on #935
Let me know if there is anything I can do from my end.

[2019-06-17 21:46] moog16 commented on #935
I remember seeing an issue in MDC Web that we'll be deprecating the native select. So if MDC Web deprecates it, we will most likely ditch support as well.

I'm in a holding pattern on the NativeSelect. If you would like to fix this issue, please feel free. I can work with you to get the fix in.

[2019-06-18 09:59] SleeplessByte commented on #935
I don't mind ditching it, if I knew how.

A temporary patch is fine with me as well, but I don't know where to start as you say: `MDC React does not manipulate the onChange event`. It does seem that indeed `event.target.value`. I'm wondering if we can grab it from somewhere else...

[2019-06-18 13:36] ndtreviv commented on #912
I don't know why, but I can't reproduce it anymore. My codebase has moved on, and trying to reproduce with a stackblitz isn't working either. Maybe close this for now...? If I manage to successfully reproduce it again I'll nail down the conditions and post back.

[2019-06-18 13:48] ndtreviv opened #938 "<form...> won't submit on enter key if there are > 1 TextFields"
Reproduce: https://stackblitz.com/edit/react-rjyfbu

I have two `TextField`s in a `form` element. I'm expecting that when I press the enter key, the form will submit and the `onSubmit` will get called. It doesn't.

If I remove a `TextField`, so there is only one, then it works.

[2019-06-18 17:04] moog16 commented on #938
I didn't know this: https://stackoverflow.com/questions/28709146/form-with-two-inputs-not-submitting

Looks like you need a button in the form for it to work.

[2019-06-18 17:04] #938 closed

[2019-06-18 17:17] moog16 commented on #935
What do you mean, "if I knew how"? The alternative is to use the `enhanced` select. Although you do not get the native picker on native.

[2019-06-18 17:18] moog16 commented on #912
Ok - yeah I wasn't able to repro it either (we did find a solution for the text field). Closing :)

[2019-06-18 17:18] #912 closed

[2019-06-18 18:39] arichiv commented on #936
It looks like #939 may fix the ripple import issues for free. Will examine shortly after commit

[2019-06-18 21:35] thdk commented on #616
I've gone through all package.json files and changed react and react-dom to peer dependencies.

Is that all that must happen? #940

[2019-06-18 21:49] moog16 commented on #616
Thanks @thdk!

[2019-06-18 21:49] #616 closed

[2019-06-18 22:24] andrew-kuzovov opened #941 "Can't override width of focused outlined text field"
I've spent lot of time trying to find out how to make border of selected textfield thinner.
My research led me to this private mixin in node_modules\@material\textfield\_mixins.scss:

@mixin mdc-text-field-outlined-focused_ {
  @include mdc-notched-outline-stroke-width(2px);
}

Still, I cannot find the way to override this value, except changing it right in _mixins.scss.
Please provide some docume

[2019-06-19 05:44] seriema commented on #929
I noticed issue #438, where you say the checkbox should be built through composition with a `<CheckboxInput>`. Radio calls it `<NativeRadioControl>`. That means extracting another component as well as the changes discussed in 1. A much simpler interface would be this:

## 1A
![image](https://user-images.githubusercontent.com/693684/59660202-3880a900-91a8-11e9-8f95-9e08f234c6da.png)

But it's usual

[2019-06-19 12:45] bymoe opened #942 "Is there any way to install those packages all in one package?"
Is there any way to install those components in one package?
For example:
`npm i -S @material/react`
I found it a little bit messy that I have to install each package!

[2019-06-19 17:00] moog16 commented on #929
#308 is actually pretty easy as we have added it to drawer (see attachRef method). That can be addressed at any time.

I believe that all components are better to be used through composition. So switch, radio, checkbox should all be built the same. So it'd be great to have 1B, however I think converting checkbox over is a lot more work than you probably asked for.

[2019-06-19 17:16] #895 closed

[2019-06-20 11:18] McGregor25 commented on #730
I tried to do it with the color property: of css but it did not work, apparently it does not allow to paint them, the only way I have found to paint them is with filter, but it does not make much sense, the right thing would be to use the property {color: color;} or at least {background-color: color} but being a font does not allow me to do this last.

[2019-06-20 16:38] qs-labs commented on #942
Try `npm i material-web-react`.

https://www.npmjs.com/package/material-web-react

[2019-06-21 13:59] liamcmitchell-sc opened #944 "List applies invalid default aria-orientation attribute"
[mdc-list documentation](https://github.com/material-components/material-components-web/tree/master/packages/mdc-list#accessibility) says

The React wrapper applies `aria-orientation="vertical"` in default props: https://github.com/material-components/material-components-web-react/blob/master/packages/list/index.tsx#L117

I think the ideal fix is to refactor the `aria-orientation` prop to `orienta

[2019-06-21 15:15] moog16 commented on #931
Closing with #932

[2019-06-21 15:15] #931 closed

[2019-06-21 15:41] moog16 commented on #944
From the [W3 spec](https://www.w3.org/TR/wai-aria-1.1/#list):

I interpret this and what we say on the MDC Web docs as saying the following:

1. Use role='listbox' when the list selectable
1. Use role='list' (or use `ol`/`ul`/etc.) if list is non-selectable
1. apply `aria-orientation=vertical` when role='list' or when tag is `ol`/`ul`
1. do not apply `aria-orientation=vertical` when role='listbox'

[2019-06-21 15:43] moog16 commented on #916
fixed by #943

[2019-06-21 15:43] #916 closed

[2019-06-21 15:47] liamcmitchell-sc commented on #944
I came across this when reviewing output of [react-axe](https://github.com/dequelabs/react-axe) (runtime a11y auditor).

The [specific error](https://dequeuniversity.com/rules/axe/3.2/aria-allowed-attr?application=axeAPI) is that `aria-orientation` is not supported for `role=list` (the default).

[2019-06-21 15:49] moog16 commented on #942
That is actually a totally different package. There was a request with creating an all-in-one package similar to [MDC Web's material-components-web package](https://github.com/material-components/material-components-web/tree/master/packages/material-components-web). We just haven't had the time. Please feel free to open a PR. I'll leave this open to some day get to it.

[2019-06-21 15:57] moog16 commented on #944
Ahh, I can't seem to find the documentation that states aria-orientation is not supported for role=list, but it seems that [MDN](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_aria-orientation_attribute#Used_With_ARIA_Roles) states that it is only used on these specific roles. So in fact we should only be setting aria-orientation if those roles are set. T

[2019-06-21 16:04] moog16 commented on #941
You will need to import `@import "@material/notched-outline/mixins";`. Then use the follow selector to override the default:

[code]

Closing - please reopen if this does not work for you.

[2019-06-21 16:04] #941 closed

[2019-06-21 16:09] liamcmitchell-sc commented on #944
From what I understand, `aria-orientation` maps 1-1 to the vertical property in the adaptor so having it set by default does make sense. I appreciate that these components provide accessibility out of the box and I think it can be done.

The trouble is that the adaptor `vertical` state is controlled by an aria value.

To be done properly, a default value for `aria-orientation` could be inferred fr

[2019-06-21 16:28] moog16 commented on #944
1. All the MDC List's should be "vertical", so having a vertical or orientation prop doesn't make sense to me.
1. I agree that explicitly setting `aria-orientation` should be overridable.
1. Maybe `aria-orientation='vertical'` can be inferred if `props.tag !== 'ol' && props.tag !== 'ul' && props.tag !== 'dl' && props.role !== 'list'` OR we could use the MDN list's role. So if `props.role` === the

[2019-06-21 16:37] qs-labs commented on #942
@ImSolitude I stand corrected, sorry for misleading!

[2019-06-21 16:37] liamcmitchell-sc commented on #944
Yes, I meant `MDCList.vertical`.

Agree, can't think of a case where this list would be used horizontally... but still this is supported in MDC web.

A whitelist would also work but overkill I think.

[2019-06-21 16:47] moog16 commented on #942
no worries !

[2019-06-21 16:52] moog16 commented on #944
From the material.io spec, the image-list component is technically a "list". I don't think that semantically the list and image-list are the same though.

And yes since its horizontal is supported, we should also support it. Your issue however is that its not meeting a11y. I also think the whitelist is overkill. How's about this case: `props.tag !== 'ol' && props.tag !== 'ul' && props.tag !== 'dl'

[2019-06-21 16:53] moog16 commented on #944
You can also fix the setVertical if you'd like in the same PR. I just don't want to push the work on to you.

[2019-06-21 17:25] andrew-kuzovov commented on #941
It works. Thanks!

[2019-06-21 19:55] bymoe opened #946 "Button: Pass the button color as a prop - primary or secondary - ?"
Like this:
`<Button primary>` or `<Button secondary>`

So that it match the button type:
`<Button outlined primary>` or `<Button outlined secondary>`

Sorry I am new to this, But from my personal experience, styling is a mess in react frameworks. I'd love to contribute, but don't know how to start!

[2019-06-22 12:25] larsrbak opened #947 "TextField: Label and Input Value stacked"
If I first render the Textfield with the empty string and then later update it to something else the label and value will be stacked as shown in the image.

![Screenshot from 2019-06-22 14-09-28](https://user-images.githubusercontent.com/5303034/59963791-6b080a00-94f8-11e9-8748-940b8bb6f383.png)

Simplest reconstruction:
[code]

or see: <https://github.com/larsrbak/mdc-react-textfield-issue>

[2019-06-24 13:38] cdevroe opened #949 "Text field as password field?"
My apologies in advance if I'm heading down the incorrect path with this question. Does the current Text Field web component _not_ allow for type to be password?

I'm creating a login form and would prefer to have the password field be type password.

[2019-06-24 17:10] shb001 opened #950 "Tab/TabBar ripple is is not required, Just need underline indicator & ripple effect should go after pressed"
Hi
I don't need ripple effect when I press the tab instead I only need indicator and ripple effect should go after the tab is active/pressed.
Please suggest if this is possible.
thanks in advance.

[2019-06-24 22:27] moog16 commented on #946
Hey! No need to be sorry, and I totally agree  styling is a mess in general. It's difficult to make everyone happy in all their environments.

What would the primary/secondary props do underneath the hood in the MDC React Component?

[2019-06-24 22:28] moog16 commented on #947
I believe that this is the same [issue](https://github.com/material-components/material-components-web-react/issues/895). A fix will go out with rc0.14.0 (on 6/25/19 - tomorrow). Thanks!

[2019-06-24 22:28] #947 closed

[2019-06-24 22:32] moog16 commented on #949
Please see [example](https://stackblitz.com/edit/react-blcps3?file=index.js)

[2019-06-24 22:32] #949 closed

[2019-06-24 22:43] moog16 commented on #950
What do you mean "ripple effect should go after the tab is active/pressed.". Are you saying you only want the hover/focused state?

[2019-06-25 08:09] shb001 commented on #950
Hi Thanks for the quick reply. I mean something like in the link below under Behaviour section. Please click on the video "Tap a tab".  I want the same kind of behaviour. After the tab is pressed I only want to have indicator and the colored label not the background. It should give the color effect like FAB button but should disappear immediately. Please have a look at the video under section beha

[2019-06-25 13:42] cdevroe commented on #949
@moog16 Thank you for your quick response. Should [the docs](https://github.com/material-components/material-components-web-react/tree/master/packages/text-field) be updated to include the type prop on the input? Or is it just assumed?

Thanks.

[2019-06-25 14:32] qs-labs commented on #765
@heliocosta Do you have any suggestions on how to resolve this issue? I am unfortunately encountering similar behavior with the Card component.

[2019-06-25 17:22] moog16 commented on #949
I think it is assumed, but if it was not clear to you then it may not be clear to others. Please feel free to open a PR :)

[2019-06-25 17:35] moog16 commented on #950
So you don't want the background "ripple" effect?

Currently there is no way to do remove it as the ripple is [hard coded](https://github.com/material-components/material-components-web-react/blob/master/packages/tab/index.tsx#L221) into the Tab component.

[2019-06-26 07:16] fjorgemota commented on #885
Now that 0.14 is released, I want to warn one thing related directly to this issue (which is the reason behind I decided to comment instead of creating a new issue): You should attempt to use 0.13 version instead of upgrading to 0.14 **if** you're using a mdc's react package that was updated + a mdc's react package that was not updated.

For example, I'm using `@material/react-list` and `@material

[2019-06-26 17:37] moog16 commented on #822
Closed with #948

[2019-06-26 17:37] #822 closed

[2019-06-27 08:03] shb001 commented on #950
@moog16 thanks for the information.

[2019-06-27 16:43] moog16 commented on #950
Closing since there is no action to take here.

[2019-06-27 16:43] #950 closed

[2019-06-27 18:43] renanbatel opened #954 "react-button 0.14.0 broken in SSR due to window usage"
Just got the new version (0.14.0) of react-button and I see that `window` is being used on the .js dist file. So I can't use it on my server rendered react app (next.js), 0.13.0 works fine.

[2019-06-28 15:11] jdaly13 commented on #954
I have the same issue using react-card - also downgrading to 0.13.0 works fine for me as well.

[2019-06-28 17:42] moog16 commented on #954
Thanks for opening the issue. I'll look into fixing this.

[2019-06-28 17:55] arichiv opened #955 "fix(typescript) remove extraneous imports"
https://github.com/material-components/material-components-web-react/pull/953 adds a bunch of imports to fix an error in typescript type expansion. They should be removed at some point.

Each one looks like:
[code]

Each one should be reduced to:
[code]

[2019-06-29 14:48] TroyTae opened #957 "`input chips` example error"
https://github.com/material-components/material-components-web-react/tree/master/packages/chips#input-chips

1. Every chips need `id`.
2. `id` and `key` are must be unique value.

[2019-06-30 08:49] poying opened #958 "Feature Request: Define onChangeComplete callback property in <Input> (<TextField>)"
`onChange` will be called whenever the input value is changed and cause potential performance issue, so users need to debounce `onChange` function. I think it is better to do it in `<Input>` then let users do it by themselves, because it is pretty annoying to users.

So I propose to define a new callback property, `onChangeComplete`, which will be called when user stop typing. It works just like d

[2019-07-01 03:47] christopher-howard commented on #783
Am also seeing this in my use of Dialog. If you swap buttons in code it works on accept, so first button seems to be default.

[2019-07-01 09:36] vargajacint commented on #392
@moog16
The Checkbox component performance is really bad. I'm using a lot of checkbox, and i have a lot of performance issue, please fix, or just use PureComponent

[2019-07-01 16:08] liamcmitchell-sc commented on #944
Back from vacation.

Only 4 elements have default roles that support `aria-orientation`: `datalist`, `hr`, `input` and `select`. I don't think any of them would be used as a list wrapper so it should be safe to ignore `props.tag`.

I think it's fair that if someone is overriding `role`, they know what they are doing and should also be responsible for providing `aria-orientation`. I don't see this

[2019-07-01 16:26] TroyTae opened #959 "Blinking except for the first element in `input chips`"
![Jul-02-2019 01-22-23](https://user-images.githubusercontent.com/20078201/60451883-1d15a380-9c68-11e9-9215-952e3fb05420.gif)
When delete chip, every chips are blinking (exclude first chip).
I guess this isn't web issue, only react.

[2019-07-01 17:55] moog16 commented on #944
@liamcmitchell-sc I think your list of operations makes sense to me. There is no concern for breaking changes, as we are still in 'beta'. However we'll communicate the breaking change through our changelog. How does that sound to you?

[2019-07-01 18:03] moog16 commented on #392
Yup we haven't had time to get to this issue - I also have experienced this with the checkbox and have a few ideas on how to change it. Would you like to take the lead on this one?

[2019-07-01 18:12] moog16 commented on #958
The `onChange` method is supposed to work like it does with the "native" React `<input />` element. I believe that is how it behaves currently.

When would you call the `onChangeComplete`? I think this isn't a common pattern. Have you actually noticed any performance issues?

[2019-07-01 18:21] gugu commented on #392
You can use checkbox without ripple. Much faster

On Mon, Jul 1, 2019, at 9:03 PM, Matt Goo wrote:

[2019-07-01 18:42] moog16 commented on #959
Thanks for opening! Confirmed an issue...looks like the click should not be propagated.

[2019-07-01 23:56] #954 closed

[2019-07-02 00:14] moog16 commented on #954
please try v0.14.1

[2019-07-02 09:09] poying commented on #958
@moog16

Here are some cases:

1. __Send http request when input value changed__ (like search input). In this case, if we don't debounce `onChange`, it will send lots of unnecessary requests and cause performance issue. What we really need is just the last request.
2. __Large form__. In this case, rendering process is really expensive. If we re-render the form whenever the input value is changed,

[2019-07-02 12:53] liamcmitchell-sc commented on #944
Sounds good. Will work on the PR. CLA might take a while though...

[2019-07-02 13:32] TroyTae commented on #959
I don't know why first element is fine.
But I guess animation(`mdc-chip-set--input`) is executed every time.
<img width="1538" alt="스크린샷 2019-07-02 오후 10 22 42" src="https://user-images.githubusercontent.com/20078201/60516708-417d8880-9d19-11e9-8ffd-6a6cdffdd2ad.png">

[2019-07-02 16:46] moog16 commented on #958
The issue is knowing what the the last "change" event has happened. How do you accurately determine when the user has stopped typing?

[2019-07-02 18:19] poying commented on #958
@moog16

We can't __accurately__ determine when the last change event has happened.
The practical way is using `setTimeout` to delay callback invocation, and abort it if another event happened before the callback actually be invoked.

Here is the example code:

[code]

[2019-07-02 18:32] moog16 commented on #958
If we cannot do it `accurately` then that means there will be bugs. I think there is no way to please everyone without calling `onChange` every time a user types something. If we were to debounce, we might only see part of word being typed, which would make a bad user experience.

Therefore the debounce must be on the app developer (you & others).

[2019-07-02 18:51] #957 closed

[2019-07-02 19:13] moog16 commented on #936
Thanks for fixing!

[2019-07-02 19:13] #936 closed

[2019-07-03 05:43] #958 closed

[2019-07-04 08:09] hvolschenk commented on #869
I updated recently and I am not seeing this any more.
I think (from my side) that it might have been just the right alignment of the stars that caused this for a brief moment in time.

[2019-07-04 15:05] TroyTae opened #961 "Linear Process's REAME.md is wrong"
The default value of `bufferingDots` property of the linear process is `true`.
But README.md is descripted with `false`.

[2019-07-04 15:05] TroyTae opened #962 "SnackBar closeOnEscape is not working"
SnackBar is supporting `esc` keydown action for closing.
But it looks not working.
I think cause of this problem is event listen target.
Now keydown event is attached to snakbar's div tag.
In order to work properly, we need to put an event on the window.

[2019-07-04 15:06] TroyTae commented on #962
Maybe this isn't problem of react...

[2019-07-04 23:40] TroyTae commented on #827
It's going to take a lot of time to merge https://github.com/material-components/material-components-web/pull/4761.
Close this issue and I'll reopen after merging!

[2019-07-05 11:58] thdk opened #964 "text-field: Input has duplicate properties specified on Props interface"
Some code taken from text-field/Input.tsx
[code]

So the Input component has Props<T> as type for its props.
Let 's say `T = HTMLInputElement`.

This means `type Props =  InputProps<HTMLInputElement> & InputElementProps;`

Both `InputProps<HTMLInputElement>` and `InputElementProps` specify `onBlur`, `onChange`, `onFocus`, `onMouseDown`, and `onTouchStart`.

My suggestion is to remove these from In

[2019-07-05 12:05] thdk opened #965 "text-field: Input component uses Exclude to get rid of 'ref' property while it should use Omit"
Typescript 'Exclude' only works for union types.

in **text-fiels/Input.tsx** _Exclude<T, U>_ is used to remove the `ref` property from the React.HTMLProps<HTMLInputElement>

This doesn't do anything resulting people can still pass the ref property as a prop of the Input component. Which is obviously not used at all in the component.

My suggestion would be to use Omit, but that type is only inclu

[2019-07-06 02:14] shadowmint commented on #869
I'm seeing this on numerous components and properties on version 0.14.1, for example:

[code]

Gives:

[code]

[code]

[code]

etc.

Versions:

[code]

[2019-07-06 02:40] shadowmint commented on #869
Here's a stackblitz of the issue: https://stackblitz.com/edit/react-ts-6atmqs

To replicate:
- Open the app in a new window
- Click on 'show menu'
- View the console

[code]

[2019-07-07 13:09] SleeplessByte commented on #935
That's exactly what I wanted to hear. I'm fine with using `enhanced`, especially if the team is going to drop native anyway.

Feel free to close/keep this open to track the issue. I think there are plenty of reasons to keep supporting NativeSelect, but we don't need it right now.

[2019-07-08 16:56] arichiv commented on #955
@moog16 I traced this to a typescript error not unlike https://github.com/microsoft/TypeScript/pull/24874 (cc: @weswigham)

If we do not explicitly import `RippledComponentProps` the resulting [typefile](https://termbin.com/w4ez) attempts a relative import at the bottom (`import("../ripple").RippledComponentProps`).

If we do explicitly import `RippledComponentProps` (and use/export it as required

[2019-07-08 17:02] moog16 commented on #935
I'm thinking I will close the issue, until the NativeSelect is removed from MDC Web. Then we can open a new issue for that. Thanks!

[2019-07-08 17:02] #935 closed

[2019-07-08 17:17] moog16 commented on #869
@shadowmint I'm actually not seeing this happen. After clicking "toggle" my console logs:
[code]

[2019-07-08 17:30] moog16 commented on #955
Thanks for doing some more investigation. It sounds like this is a TypeScript bug then? We can leave this open until there is a fix and we update to that version. How does that sound?

[2019-07-08 18:54] Taskkill opened #967 "Chip does not behave as controlled component"
Hello everyone,

If Chipset is provided with `selectedChipIds` Array and user clicks on selected chip it loses its checkmark even though it is specified inside the Array and Chip iself has `selected` set.
I figured Chipset holds this array and modifies it as its state even though it probably should be only taking props from higher context.

Is there a way to prevent said behaviour? Unfortunately m

[2019-07-09 07:46] idrakimuhamad opened #968 "Ripple doesn't work without including `mdc-ripple-surface` classname"
When I try to implement `withRipple`, the ripple doesn't get activated, nor the hover effect. However, if I append the class `.mdc-ripple-surface`, the ripple works as expected.

Reproduction in below link.

https://codesandbox.io/embed/exciting-shockley-q6qcr

Also, I find its necessary to merge the style from the HOC, with the component's style for it to work. Maybe this is the norm, so that's f

[2019-07-09 14:57] thdk commented on #965
I can do this simple PR but I need to know if I may use Omit from typescript 3.5.0 and if I may increase the version of typescript dependency in the root package.json.

[2019-07-09 17:00] #961 closed

[2019-07-10 20:10] thdk opened #969 "react-text-field npm package is empty"
Seems the latest npm package for 0.14.1 is empty.

![image](https://user-images.githubusercontent.com/4201102/61001222-7d3ed080-a35f-11e9-9044-655890d68b79.png)

[2019-07-10 23:40] ucarion opened #970 "TypeScript error: Property 'children' is missing but required in IconProps"
The code listed below errors with:

[code]

Here is the relevant code:

[code]

Is this a mistake on my part? I believe I _am_ passing children to `TopAppBarIcon` correctly, yet TypeScript seems unsatisfied.

I'm experiencing other type errors -- such as some related to ripples, which I believe are attributable to other issues on this project. But I couldn't find a prior report of this particular

[2019-07-11 12:49] liamcmitchell-sc commented on #944
CLA signed, PR updated with latest master.

[2019-07-11 16:47] moog16 commented on #967
@Taskkill Thanks for opening the issue - we are aware of this issue as we've had it open since the Spring. I'm going to close this as we are already tracking this.

Thanks!

https://github.com/material-components/material-components-web-react/issues/785

[2019-07-11 16:47] #967 closed

[2019-07-11 16:49] moog16 commented on #968
@idrakimuhamad that is correct, as it is [documented](https://github.com/material-components/material-components-web-react/tree/master/packages/ripple#javascript-instantiation). I realize now that it is not obvious that you need to include `style` in your implementation, but it is covered if you include `...otherProps` as described in the documentation.

[2019-07-11 16:52] moog16 commented on #969
@thdk I think your VSCode probably hasn't updated. You should look directly in your directories/folders.

A good place to check is unpkg:
https://unpkg.com/@material/react-text-field@0.14.1/dist/index.js
https://unpkg.com/@material/react-text-field@0.14.1/index.tsx
https://unpkg.com/@material/react-text-field@0.14.1/index.scss

It seems to be there.

[2019-07-11 16:52] #969 closed

[2019-07-11 17:54] moog16 commented on #970
What version of TopAppBar are you using, and what version of TS are you using? It works fine in our screenshot tests, so I'm thinking its a compatibility issue.

I'm on:
TopAppBar: v0.14.1
TS: 3.4.5

Are you using VS Code? Sometimes you have to restart the TS Compiler.

[2019-07-11 18:01] Taskkill commented on #967
@moog16  Thanks but my issue was question: `Is there a way around it?`
I' ve definitely seen that issue. But it does not propose some mean-time fix or workaround.

[2019-07-11 19:11] moog16 commented on #967
@Taskkill Not without a code change, sorry. I would suggest using [RMWC](https://github.com/jamesmfriedman/rmwc) in the meantime. JamesFriedman has done a great job at implementing material design and up holding React best practices. RMWC actually uses MDC Web's foundation/adapter just like MDC React does, so it will always be up to spec.

[2019-07-11 19:13] Taskkill commented on #967
@moog16 Thank you for giving me that information. Appreciate it.

[2019-07-11 19:17] moog16 commented on #967
no problem! LMK if you have any other questions.

[2019-07-12 00:11] idrakimuhamad commented on #968
@moog16 I'm sorry, I couldn't find in the doc about having to include `.mdc-ripple-surface` during initiation to make it work. Is it because I'm using CSS instead of SCSS? Don't think that'd be the case though.

Regarding the style, it make sense now as I see it. I'll amend mine to take the style out.

[2019-07-12 10:26] qs-labs opened #971 "MaterialIcon not rendering (Firefox)"
The [MaterialIcon](https://github.com/material-components/material-components-web-react/tree/master/packages/material-icon) component does not properly render in Firefox.

Demonstrated with the [roses](https://github.com/material-components/material-components-web-react/tree/master/examples/roses) example project:
**Firefox (68.0 (64-bit))**
![image](https://user-images.githubusercontent.com/38405

[2019-07-16 07:35] idrakimuhamad opened #972 "Select uses all the text from Option and primary and secondary text when used with OptionText"
When I uses `OptionGraphic`, `OptionMeta` and `OptionText` to extends the regular enhanced options, upon selection is made, the "selected item" take all of text/value from those component and join them together.

For example, if I set the `OptionGraphic` to use the emoji 😬
While `OptionText` have `primaryText` of "Primary" and `secondaryText` of "Secondary"
And `OptionMeta` have the `meta` of "Met

[2019-07-17 16:35] #971 closed

[2019-07-17 16:36] qs-labs commented on #971
Appears to have resolved itself, perhaps it was a Firefox issue?

[2019-07-17 17:43] moog16 commented on #971
Strange thanks for checking back in :)

[2019-07-18 03:13] idrakimuhamad commented on #972
For now, I had to do something to overwrite the value set by the package. I used [Portal](https://reactjs.org/docs/portals.html) to add the needed component into the place selected item place. I decided to set the existing item opacity to 0 without removing it from the DOM, and added my own.

https://codesandbox.io/embed/eager-banzai-pyvg4

Hopefully we can get some sort of prop that can control t

[2019-07-18 06:31] TroyTae commented on #905
https://github.com/material-components/material-components-web/blob/5e294f9f969d6fa3718ff2115e1a64bdba1cf241/packages/mdc-list/foundation.ts#L244-L257
Now `handleClick` doesn't check prop `singleSelection`.

@moog16
It looks this issue is from mdc-web.
If that's true, can you move this issue there?
And then I'll create a fixing PR!

[2019-07-18 06:41] TroyTae commented on #962
reopen in mdc-web

[2019-07-18 06:41] #962 closed

[2019-07-18 16:14] moog16 commented on #905
@TroyTae is it possible that we are just on an older version of mdc web? Has this already been fixed in 3.0?

[2019-07-19 01:17] #959 closed

[2019-07-20 01:28] pshe94 opened #976 "Active tab indicator slides on page load"
In MDC Web on page load, Tab Indicator is already placed under the active tab. In MDC React however, the indicator slides from the beginning of the Tab Bar to the active tab.
[Example](https://stackblitz.com/edit/react-xtusqj)
Adding `active={true}` to Tab that should be active doesn't fix the issue.
With JavaScript disabled none of the tabs has `mdc-tab--active` and none of the Indicators has `md

[2019-07-20 21:13] ucarion commented on #970
@moog16 Sorry for late reply! I believe I'm running precisely the same versions as you, here's an abridged `package.json`:

[code]

[2019-07-20 21:15] ucarion commented on #970
Also, perhaps I should note that the final rendered result is fine, as the tooling I'm using can generate bundles despite TypeScript errors. Is it possible the same is going on with the screenshot tests?

[2019-07-22 18:08] moog16 commented on #970
I can generate bundles, but I still do not see the errors you're talking about. This is in the terminal/CLI, correct? Could you have something set differently in your tsconfig?

[2019-07-23 07:43] sovanjana commented on #964
getting `TypeScript error: Type '(e: any) => void' has no properties in common with type 'Pick<HTMLProps<HTMLInputElement>, "onChange">'.` error for the same reason.
Please remove **html events** from **InputProps**.

[2019-07-23 14:14] liamcmitchell-sc opened #979 "Menu click away"
I am implementing a secondary menu into list items. To avoid triggering the list primary action, I have to stop click propagation from the secondary action button. This has the side effect of preventing menu close because menu listens for a body click to close.

![Menu click away 2019-07-23 15_54_45](https://user-images.githubusercontent.com/31351270/61717955-4fe02280-ad62-11e9-8623-1bc799c728c2.g